{% extends 'emp/base.html' %}
{% block content-header %}{{object.company_name}}{% endblock %}
{% block content %}
{% for message in messages %}
    <div class="text-center alert alert-{{ message.tags }}">
                {{ message|safe }}
    </div>
        {% endfor %}
<h1>{{ object.company_name}}</h1>
<p>{{ object.emp_name}}</p>
<p>About: {{ object.company_description}}</p>
<p>Sector : </p>
{% if object.sector %}
  <ul>
    {% for s in object.sector.all %}
      <li>
        {{ s.name }}
        {# recursively include template itself #}
        
      </li>
    {% endfor %}
  </ul>
{% endif %}
<a href="{% url 'update-company-detail' slug=object.slug %}">Edit</a>

{% endblock %}


