{% extends 'emp/base.html' %}
{% block content-header %}Company Details{% endblock %}
{% block content %}
<h1>Companies Added</h1>
{% for message in messages %}
    <div class="text-center alert alert-{{ message.tags }}">
                {{ message|safe }}
            </div>
        {% endfor %}
<ul>
{% for company in object_list %}
    <li>
    	<a href="{% url 'company-detail' slug=company.slug %}">{{ company.company_name }}</a>
    </li>
{% empty %}
    <li>No companies yet.</li>
{% endfor %}
</ul>
{% endblock %}


