
#student-profile .profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		/*border-radius: 50%;*/
	}

#student-profile .main-header
{
	font-weight: bold;
	font-size: 1.5rem;
    color: #0066A0;
    border-bottom: 2px solid orange;
}
#student-profile .sub-header
{
	color: #0066A0;
	font-size: 1.2rem;
    border-bottom: 2px solid orange;
}