{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="d-flex justify-content-center align-items-center flex-column p-5" style="height: 100%;">
    <h1 class="text-left pb-2" style="font-size: 1.5rem;color: #0D47A1;width: 100%;border-bottom: 2px solid #0D47A1;">Change password</h1>

    <form method="post" style="width: 100%;">
        {% csrf_token %}
        <input type="hidden" name="userid" value="{{userid}}" />
        <input type="hidden" name="code" value="{{code}}" />
    
        {{ form.old_password | as_crispy_field }}
        {{ form.old_password.errors }}
    
        {{ form.new_password | as_crispy_field}}
        {{ form.new_password.errors }}
    
        {{ form.confirm_new_password | as_crispy_field}}
        {{ form.confirm_new_password.errors }}
    
        <button type="submit" id="submit" class="btn " style="background: #0D47A1;color: #fff; font-weight: bold;width: 100%;">Update Password</button>
    </form>
</div>


{% endblock %}

