/*main color : #0066A0 ; rgb(0, 102, 160)*/
/*dark color # rgb(5,76,119)*/
/*1yellow color : #FFCC00*/
#main .sidebar{
	height: 100vh;
}

a{
	color: #0066A0;
	opacity: 90%;
	text-decoration: none;
}
a:hover{
	opacity: 100%;
}
.main-bd{
	border-bottom: 1px solid #054C77;
}
.page-header{
	border: none!important;
	border-bottom: 2px solid #054C77!important;
	border-radius: 0px!important;
	color: #054C77!important;
	background: #fff!important;
}
.icons-nav{
	color: #0066A0!important;
	margin-right: 10px;
}