/*main color : #0066A0 ; rgb(0, 102, 160)*/
/*dark color # rgb(5,76,119)*/
/*1yellow color : #FFCC00*/
#main .sidebar{
	height: 100vh;
}

a{
	color: #0066A0;
	opacity: 90%;
	text-decoration: none;
}
a:hover{
	opacity: 100%;
}
.main-bd{
	border-bottom: 1px solid #054C77;
}
.page-header{
	border: none!important;
	border-bottom: 2px solid #054C77!important;
	border-radius: 0px!important;
	color: #054C77!important;
	background: #fff!important;
}
.icons-nav{
	color: #0066A0!important;
	margin-right: 10px;
}
.c-tooltip {
  position: relative;
  display: inline-block;
}

.c-tooltip .c-tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.c-tooltip .c-tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.c-tooltip:hover .c-tooltiptext {
  visibility: visible;
  opacity: 1;
}