/*main color : #0066A0*/
/*dark color */#054C77

#main .sidebar{
	height: 100vh;
}

a{
	color: #0066A0;
	opacity: 90%;
	text-decoration: none;
}
a:hover{
	opacity: 100%;
}
.main-bd{
	border-bottom: 1px solid #054C77;
}