{% extends 'emp/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block css%}
<link rel="stylesheet" href="{% static 'Searchable-Multi-select-jQuery-Dropdown/jquery.dropdown.css' %}">
{% endblock %}


{% block bann %}
<div id="content-wrapper" class="d-flex flex-column">

  <section class="colored-section" id="title">

    <div class="container-fluid">

      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark">

        <a class="navbar-brand" href="">Employer Recommendation System</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#footer">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#pricing">Feedback</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#cta"></a>
            </li>
          </ul>

        </div>
      </nav>


      <div class="row">

        <div class="col-lg-6">
            {% if user.is_authenticated %}
            <h1 class="big-heading">Welcome! <br>Build your profile</h1><h3></h3> <br>
			<p> Your profile is your first point of contact with the employer and sets the tone for subsequent interviewing steps.</p>
{% endif %}

        </div>

       <div class="col-lg-6">
          <img class="title-image" src="{% static 'emp/img/jobby.jpg' %}" alt="iphone-mockup">
        </div>

      </div>

    </div>

  </section>

{% endblock %}

{% block name %}


{% endblock %}
{% block content %}
<section id="student-profile" >
  <h1 class="main-header">Student Profile</h1>
  {% include 'accounts/partials/messages.html' %}
  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-4">
      <div style="height: 200px; width: auto;">
      <img class="profile-pic" {% if request.user.student.pic %} src="{{request.user.student.pic.url}}" {% endif %} id="profile_pic" style="height:400px,width:auto;">
      </div>

        <div class="form-group" >
    {{ form.pic.label_tag }}  
            {{ form.pic.errors }}
        <input name="pic" class="form-control" type="file" accept="image/*" onchange="document.getElementById('profile_pic').src = window.URL.createObjectURL(this.files[0])">
        {{ form.pic.help_text }}
        </div>
        <div class="form-group" >
    {{ form.github.label_tag }} 
            {{ form.github.errors }}
        {% render_field form.github class="form-control"  %}
        <small>{{ form.github.help_text }}</small>
        </div>
  
        <div class="form-group" >
    {{ form.Linkedin.label_tag }} 
            {{ form.Linkedin.errors }}
        {% render_field form.Linkedin class="form-control" %}
        <small>{{ form.Linkedin.help_text }}</small>
        </div>
      
          </div>
                    <div class="col-md-8">
            <div class="block">
              <h3 class="sub-header">Personal Details:</h3>
              <div class="form-group row">
                <div class="col-md-6">
                  <div class="form-group">
                   <label>First Name</label>
       <input class="form-control" type="text" value="{{user.first_name}}" disabled> 
                  </div>

                  <div class="form-group">
                   <label>Email</label>
       <input class="form-control" type="text" value="{{user.email}}" disabled> 
                  </div>
       </div>
                  <div class="col-md-6">
                  <div class="form-group">
                   <label>Last Name</label>
       <input class="form-control" type="text" value="{{user.last_name}}" disabled> 
                  </div>

                  <div class="form-group">
                   <label>Username</label>
       <input class="form-control" type="text" value="{{user.username}}" disabled> 
                  </div>
      </div>
      <div class="col">
      
        <div class="form-group" >
    {{ form.about.label_tag }}  
            {{ form.about.errors }}
        {% render_field form.about class="form-control" %}
        <small>{{ form.about.help_text }}</small>
        
        </div>
      </div>
              </div>
            </div>
            <div class="block">
              <h3 class="sub-header">Academic Details: </h3>
        <div class="form-group" >
    {{ form.university.label_tag }}  
            {{ form.university.errors }}
        {% render_field form.university class="form-control" %}
        {{ form.university.help_text }}
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" >
    {{ form.degree.label_tag }} 
            {{ form.degree.errors }}
        {% render_field form.degree class="form-control" %}
        {{ form.degree.help_text }}
        </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" >
    {{ form.course.label_tag }} 
            {{ form.course.errors }}
        {% render_field form.course class="form-control" %}
        {{ form.course.help_text }}
        </div>
          </div>
        </div>
        
          <div class="row">
            <div class="col-md-6">
            
        <div class="form-group" >
    {{ form.startyear.label_tag }}  
            {{ form.startyear.errors }}
        {% render_field form.startyear class="form-control" %}
        {{ form.startyear.help_text }}
        </div>
            </div>

            <div class="col-md-6">
            
        <div class="form-group" >
    {{ form.endyear.label_tag }}  
            {{ form.endyear.errors }}
        {% render_field form.endyear class="form-control" %}
        {{ form.endyear.help_text }}
        </div>
            </div>
          </div>

  <div class="row">
    <div class="col-md-6">
    
        <div class="form-group" >
    {{ form.gpa.label_tag }}  
            {{ form.gpa.errors }}
        {% render_field form.gpa class="form-control" %}
        {{ form.gpa.help_text }}
        </div>
    </div>

    <div class="col-md-6">
    
        <div class="form-group" >
    {{ form.upload_your_work.label_tag }} 
            {{ form.upload_your_work.errors }}
        {% render_field form.upload_your_work class="form-control" %}
        {{ form.upload_your_work.help_text }}
        </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-12">
    
        <div class="demo mb-3">
          <label>{{ form.skills.label_tag }}</label>
  <select style="display:none"   multiple>
    {% for skill in skills %}
     <option value="{{skill.name}}">{{skill.name}}</option>
    {% endfor %}
  </select>

</div>
    </div>
    
    <div class="col-12">
    
        <div class="form-group" >
    {{ form.experience.label_tag }} 
            {{ form.experience.errors }}
        {% render_field form.experience class="form-control" %}
        {{ form.experience.help_text }}
        </div>
    </div>
    <input type="hidden" id="skills_m" name="skills_m">
  </div>  
            <div class="block">
              <h3 class="sub-header">Spoken Tutorial Score:</h3>
            </div>
          </div>
          <input class="btn btn-primary" id="update_profile" type="submit" name="Update Information" style="float: right;">
        </div>

    </div>

  </form>
       
</section>
        
{% for message in messages %}
  <!--  <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            <strong>{{message}} </strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
</div> -->
{% endfor %}
        {% load static %}
<style>
</style>


              {% if k %}
               <!--  <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong> your profile has been created! You can change if you want  </strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                </div> -->

        {% endif %}


<br>


<!-- <div class="row">
	<div class="col-md-4">
		<div class="card card-body">
			<a class="btn btn-warning" href='students'> &#8592; Back </a>
			<hr>
			<h3 style="text-align: center">Account Settings</h3>
			<hr>
      {% if request.user.student.pic %}
			<img class="profile-pic" src="{{request.user.student.pic.url}}" >
      {% endif %}
		</div>

    </div>

		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
				</div>
				<div class="d-flex justify-content-center form_container">
					 <form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
        {{form.user.first_name}}
				{{ form.as_p }}
<input type="hidden" id="skills_m" name="skills_m">

			<input class="btn btn-primary" id="update_profile" type="submit" name="Update Information">
			</form>
				</div>
			</div>
		</div>
	</div> -->
  <script  src="{% static 'external/Searchable-Multi-select-jQuery-Dropdown/jquery.dropdown.js' %}" ></script>

	<script>

    $( document ).ready(function() {
    console.log( "ready!" );
    $('.demo').dropdown({
      alert('here');
  });
});
    

		//Query All input fields
		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Username..';
		form_fields[2].placeholder='Email..';
		form_fields[3].placeholder='Enter password...';
		form_fields[4].placeholder='Re-enter Password...';


		for (var field in form_fields){
			form_fields[field].className += ' form-control'
		}
	</script>



{% endblock %}

{% block js %}
<script  src="{% static 'Searchable-Multi-select-jQuery-Dropdown/jquery.dropdown.js' %}" ></script>
<script type="text/javascript">
  $( document ).ready(function() {
    $("#upload_your_work-clear_id").hide();
	$( "#id_pic" ).click(function() {
  // alert( "Handler for .click() called." );
});		 
		  $( "#pic-clear_id" ).click(function(){
			// alert('hete');
				  document.getElementById('profile_pic').src=''});  
	//$("#update_profile").click(function(){
  //alert("The paragraph was clicked.");
//})
    $('.demo').dropdown({
  // options here
  multipleMode:'label'

});

    $( "#update_profile" ).click(function() {
  // alert( "Handler for .click() called." );
  var res = $('.dropdown-selected').text();
  console.log(typeof res);
  console.log( res);
  var res1 = $('.dropdown-chose').text();
  console.log(typeof res1);
  console.log( res1);

  var x =[];
$('.dropdown-chose').each(function(index, obj)
{
  x.push($(this).text());
});

alert(x);
$('#skills_m').val(x);
alert($('#skills_m').val())
});

    $('select').on('change', function() {
  console.log('changes');
    var selectedValues = $(this).val();  
      var foo = $('#skills').val(); 
      console.log(selectedValues);
     console.log(foo);
});
//     $('#skills').change(function() {
      
// });
   
});
  
</script>
{% endblock %}
