{% extends 'emp/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'Searchable-Multi-select-jQuery-Dropdown/jquery.dropdown.css' %}">
{% endblock %}
{% block content %}
<div>
  <div class="demo">
  <select id="skills" name="" multiple>
    <option value="1" selected>one</option>
    <option value="2">two</option>
    <option value="3">three</option>
    <option value="4">four</option>
    <option value="5">five</option>
    <option value="3">Selected-three</option>
    <option value="6">6</option>
  </select>
  <button type="button" class="btn btn-primary" id="b">Primary</button>
</div>
</div>
{% endblock %}
{% block js %}
<script  src="{% static 'Searchable-Multi-select-jQuery-Dropdown/jquery.dropdown.js' %}" ></script>
<script type="text/javascript">
  $( document ).ready(function() {

    $('.demo').dropdown({
  // options here
  multipleMode:'label'

});

    $( "#b" ).click(function() {
  // alert( "Handler for .click() called." );
  var res = $('.dropdown-selected').text();
  console.log(typeof res);
  console.log( res);
  var res1 = $('.dropdown-chose').text();
  console.log(typeof res1);
  console.log( res1);

  var x =[];
$('.dropdown-chose').each(function(index, obj)
{
  x.push($(this).text());
});

console.log(x);
});

    $('select').on('change', function() {
  console.log('changes');
    var selectedValues = $(this).val();  
      var foo = $('#skills').val(); 
      console.log(selectedValues);
     console.log(foo);
});
//     $('#skills').change(function() {
      
// });
   
});
</script>
{% endblock %}