{% extends 'emp/base_generic.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load helper %}
{% block content-header %}Homepage{% endblock %}
{% block css %}
<style type="text/css">

</style>
{% endblock %}
{% block main %}
{% include "emp/header.html" %}
<div class="container mt-5 py-5">
 <div class="py-5">
    <div>
        <p>The Spoken Tutorial Project, developed by IIT Bombay, is an award-winning Education Technology platform aimed 
            at delivering high-quality education in both English and vernacular languages. With our IT training initiative, 
            we have successfully trained over 70 lakh students across the country.</p>
        <p>If you're interested in joining Spoken Tutorial and taking up a course, please contact one of the training managers from the link given below. They will set up course for you based on your preference:</p>
        <p><a href="https://process.spoken-tutorial.org/index.php/Software-Training#Contacts_For_Training"><i class="fas fa-external-link-alt"></i> Contact details of training managers</a></p>
        <p>From there, you can select a course and embark on your educational journey. 
            By completing the training and successfully passing the test, 
            you will not only become eligible to participate in the current Job Fair 
            but also gain priority for future Job Fairs hosted by Spoken Tutorial.
        </p>
        <p>Even if you're unable to join immediately, we still welcome your participation in the current Job Fair. 
            Simply click on the DEET link provided below to reserve your slot.</p>
        <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSf5gKtT4xxe7voS1kNPPOVAOA3Oa3ezoT9ZvojjOZPi2wmfZA/viewform" style="text-decoration:underline;">
            <i class="fas fa-link"></i> (DEET) Register in the Job Fair</a></p>
    </div>
 </div>
</div>


{% endblock %}
{% block jquery %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{% endblock %}
{% block js %}
<script type = "text/javascript">
    
   
    $(document).ready(function(){
      
    });
</script>
{% endblock %}