{% extends 'emp/base_generic.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load helper %}
{% block content-header %}Event List{% endblock %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<style type="text/css">

    #top{
                /*background-image: url("../../../static/images/background.png");*/
                width: 100%;
                height: auto;
                background-color: #ffffff;
                background-size: cover; 
                padding-top: 8% 0px;
            }
            .card{margin: 16px;}
            .social-icons{font-size: 32px;}
            .social-icons a{color: #fff;}
            .social-media-wrapper{
                background-color: #172c35;
                color : #ffff;
            }
            body{font-family: Verdana, Geneva, Tahoma, sans-serif;}
            /* media queries */
            @media (min-width: 768px) { }
            @media (max-width: 768px) { }
            @media (max-width: 991.98px) { }
            @media (min-width: 991.98px) { }
            @media (min-width: 768px) and (max-width: 1199.98px) { }
             @media (max-width: 576px) {
                .w-social{
                    width: 50%!important;
                } 
            }
            /* NEW*/
            .image-container {
                position: relative;
                display: inline-block;
              }
              .image-caption {
                position: absolute;
                bottom: 0;
                right: 0;
                padding: 10px;
                background-color: rgba(0, 0, 0, 0.7);
                color: #fff;
                font-size: 14px;
              }
              .container-bg1 {
                background-image: url('{% static "jobfair/bg-1.png"%}');
                background-size: cover;
                background-position: center;
                padding: 50px;
              }
              .container-bg2 {
                background-image: url('{% static "jobfair/bg-2.png"%}');
                background-size: cover;
                background-position: center;
                padding: 50px;
              }
              .container-bg3 {
                background-image: url('{% static "jobfair/bg-3.png"%}');
                background-size: cover;
                background-position: center;
                padding: 50px;
              }
              .logo{
                width: 80%;
              }
              .img-caption-sm{
                background: black;
                color: white;
                opacity: 0.4;
              }
              
</style>
{% endblock %}

{% block main %}
<div class="container">
	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">Spoken Tutorial</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>

<div id="top" class="container d-flex flex-column justify-content-center align-items-center  px-md-5">
    <div style="width:100%;">
        <div class="image-container mt-5">
            <img src="{% static 'jobfair/top-bar.png'%}" alt="Your Image" style="width:100%;margin:auto;">
            <div class="image-caption d-none d-md-block">
                <h5>8th July 2023, Saturday</h5>
                <p>Venue - The International Institute of Information Technology, Hyderabad </p>
            </div>
          </div>
          <div class="d-md-none img-caption-sm p-3 mt-2">
            <h5>8th July 2023, Saturday</h5>
            <p>Venue - The International Institute of Information Technology, Hyderabad </p>
        </div>
    </div>
    <div class="d-flex justify-content-center my-4" >
        <p class="mx-3"><a href="#about">About us</a> |</p>
        <p class="mx-3"><a href="#participants">Participants</a> |</p>
        <p class="mx-3"><a href="#contact">Contact us</a></p>
    </div>
    <div class="container-bg1 container my-2" id="about">
        <div class="row">
          <div class="col-md-8 px-md-5">
            <div class="text-container px-5">
              <p class="px-md-5" style="line-height: 2rem; ">
                The Spoken Tutorial Project, IIT Bombay and Digital Employment Exchange of Telangana (DEET) are jointly organizing a jobfair.
                This job fair will broing employers, working professionals and entry level talented individuals across India under one roof.
                We strongly believe that this job fair will connect entry level individuals with prospective employers who can give a 
                kick-start to your career.
              </p>
            </div>
          </div>
          <div class="col-md-4 pe-5">
            <img src="{% static 'jobfair/img-1.png'%}" alt="Your Image" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="container-bg2" id="participants">
        <div class="d-flex justify-content-center" style="padding-right:15%;padding-left:15%">
            <img src="{% static 'jobfair/img-2.png'%}" alt="Your Image" class="img-fluid me-3" style="width:80px;height:100%;">
            <div>
                <p style="line-height:2rem;"><b>How to participate - </b>This job fair is open for the students who have appeared at least in one Spoken Tutorial test 
                  as well as other students who are willing to participate. 
                  Do confirm your participation by clicking on "Register and confirm" button provided below.   </p><br>
                {% if is_registered_for_jobfair %}
                  <div class="row">
                    <div class="col">
                      <div class="alert alert-success text-center" role="alert">
                        Your profile is already registered for job fair.
                      </div>
                    </div>
                  </div>
                {% else %}
                <div class="row" id="register">
                    <div class="col">
                      <div class="card" style="width: 18rem;">
                          <div class="card-body text-center">
                            <h6 class="card-subtitle mb-2 text-muted">Spoken Tutorial Students</h6>
                            <button type="button" class="btn btn-primary" id="enrollButtonSpk">Register and Confirm</button>
                          </div>
                        </div>
                  </div>
                  <div class="col">
                      <div class="card" style="width: 18rem;">
                          <div class="card-body text-center">
                            <h6 class="card-subtitle mb-2 text-muted">Non-Spoken Tutorial Students</h6>
                            <a type="button" class="btn btn-primary" id="enrollButton" href="{% url 'register' %}">Register and Confirm</a>
                          </div>
                        </div>
                  </div>
                  </div>
                {% endif %}
            </div>
        </div>
      </div>
      <div class="container-fluid ">
        <div class="card mx-auto my-5" style="width: 30rem;">
            <div class="card-header text-center" style="background-color:#67c0fe;">
                <h5>Companies</h5>
              </div>
            <img src="{% static 'jobfair/img-3.png'%}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Leading MNCs and SMEs from various job sectors: <br>IT/Graphics Designer/Engineers/Accounting Staff/ Programmers/Marketing/Manufacturing/Healthcare etc</p>
              <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSchJ1YdMUtYGuGOA0aIiffWfMEJngCAKq6XyAZoUp5hFd1QeA/viewform" class="btn btn-primary" style="width:100%;">Register</a>
            </div>
          </div>
      </div>
      <div class="container-bg3" id="contact">
        <div class="alert alert-secondary p-5" role="alert">
            <b>Contact Us - </b> <br>For any queries on Job fair, write to us at hrspokentutorial@gmail.com or call on
            022 2576 4229. Call between (10am - 6pm)
          </div>
      </div>
      <div class=" container d-flex justify-content-between my-5">
        <div><img src="{% static 'jobfair/logo-1.png'%}" alt="IIT Bombay" class="img-fluid logo" ></div>
        <div><img src="{% static 'jobfair/logo-2.png'%}" alt="Spoken Tutorial" class="img-fluid logo"></div>
        <div><img src="{% static 'jobfair/logo-3.png'%}" alt="FOSSEE" class="img-fluid logo"></div>
        <div><img src="{% static 'jobfair/logo-4.png'%}" alt="DEET" class="img-fluid logo"></div>
        <div><img src="{% static 'jobfair/logo-5.png'%}" alt="WHEELS" class="img-fluid logo"></div>
      </div>  
</div>
<div style="padding-right:8%;padding-left:8%;">
    <div class="d-flex flex-column align-items-center social-media-wrapper py-3 mb-3" >
        <div class="mx-2 my-2">Follow us on social media for more updates!</div>
        <div class="row px-3" style="width: 100%;">
            <div class="col-md-6 d-md-flex flex-column">
                <div class="d-flex justify-content-sm-around justify-content-md-center ">
                    <span class="w-social">@SpokenTutorials</span>
                <div class="mx-2 social-icons"><a href="https://twitter.com/spokentutorials?lang=en" target="_blank"><i class="fab fa-twitter-square"></i></a></div>
                <div class="mx-2 social-icons"><a href="https://www.facebook.com/SpokenTutorial.org/"  target="_blank"><i class="fab fa-facebook-square social-icons"></i></a></div>
                <div class="mx-2 social-icons"><a href="https://in.linkedin.com/company/spokentutorial" style="margin-right: 12px;;" target="_blank"><i class="fab fa-linkedin social-icons"></i></a></div>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-sm-around justify-content-md-center">
                
                <span class="w-social">@FOSSEE</span>
                <div class="mx-2 social-icons"><a href="https://twitter.com/FOSSEE/status/1534449568162942976" target="_blank"><i class="fab fa-twitter-square"></i></a></div>
                <div class="mx-2 social-icons"><a href="https://www.facebook.com/FOSSEENMEICT/posts/5221007834631220" target="_blank"><i class="fab fa-facebook-square social-icons"></i></a></div>
                <div class="mx-2 social-icons"><a href="https://www.instagram.com/p/CeiZMWbOmHg/?igshid=YmMyMTA2M2Y=" target="_blank"><i class="fab fa-instagram social-icons"></i></a></div>
            </div>
        </div>
        <div>
            <span class="d-block text-center" style="font-size: 12px;">Spoken Tutorial and FOSSEE projects developed at IIT Bombay are the initiatives of Ministry of Education, Government of India.</span>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" id="statusModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p id="modalText"></p>
        </div>
        {% comment %} <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> {% endcomment %}
      </div>
    </div>
  </div>



{% endblock %}
{% block jquery %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{% endblock %}


{% block js %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type="text/javascript">
  $( document ).ready(function() {
    const enrollButtonSpk = document.querySelector('#enrollButtonSpk');
    enrollButtonSpk.addEventListener('click', enrollInJobFair);
    var myModal = new bootstrap.Modal(document.getElementById('statusModal'), {
        keyboard: false
      })
      
    function enrollInJobFair() {
        if("{{user}}" == "AnonymousUser"){
            console.log("YES AnonymousUser");
            location.href="/login";
        } else{
            console.log("NOT AnonymousUser");
            console.log("{{jobfair.id}}");
            console.log("{{user.email}}");
            fetch('/update_jobfair_student_status/', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                  jobfair_id: '{{jobfair.id}}', 
                  email: '{{user.email}}', 
                  enrolled: true
                })
              })
              .then(response => {
                if (response.ok) {
                  var modalTextElement = document.getElementById('modalText');
                  modalTextElement.innerHTML = "Successfully registered for job fair!"; 
                  myModal.show();
                  $('#register').hide();
                } else {
                    console.log(myModal);
                    var modalTextElement = document.getElementById('modalText');
                    modalTextElement.innerHTML =  "Error in registering for job fair."; 
                  myModal.show();
                }
              })
              .catch(error => {
                console.log('There was an error:', error);
              });
        }  
    }
  });
</script>
{% endblock %}


