{% extends 'emp/base.html' %}
{% load crispy_forms_tags %}
{% load helper %}
{% block content-header %}{{ object.title}}{% endblock %}
{% block content %}
{% include "emp/page_header.html" with title="Permission Denied" icon="<i class='bi bi-exclamation-circle'></i>" %}
{% for message in messages %}
    <div class="text-center alert {{ message.tags }}">
                {{ message|safe }}
            </div>
        {% endfor %}
	<div class="alert alert-warning" role="alert">
  	<span>You do not have access to this page.</span>
	</div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
{% endblock %}
