{% extends 'emp/base.html' %}
{% block content-header %}Job Details{% endblock %}
{% block content %}
<h1>Companies Added</h1>
{% for message in messages %}
    <div class="text-center alert alert-{{ message.tags }}">
                {{ message|safe }}
            </div>
        {% endfor %}
<ul>
{% for job in object_list %}
    <li>
    	<a href="{% url 'job-detail' slug=job.slug %}">{{ job.jobtitle }}</a>
    </li>
{% empty %}
    <li>No companies yet.</li>
{% endfor %}
</ul>

{% endblock %}


