{% extends 'emp/base.html' %}
{% load crispy_forms_tags %}
{% load helper %}
{% block content-header %}{{ object.title}}{% endblock %}
{% block content %}
{% include "emp/page_header.html" with title="Job Details" icon="<i class='bi bi-briefcase-fill'></i>" %}
{% for message in messages %}
    <div class="text-center alert {{ message.tags }}">
                {{ message|safe }}
            </div>
        {% endfor %}



<p>404</p>

{% endblock %}
{% block js %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
{% endblock %}
