{% extends 'emp/base.html' %}
{% load crispy_forms_tags %}
{% load helper %}
{% block content-header %}Job List{% endblock %}
{% block content %}
{% for message in messages %}
    <div class="text-center alert {{ message.tags }}" role="alert">
                {{ message|safe }}
    </div>
{% endfor %}
<div class="row">
  <div class="col">
    <table class="table" id="tb-applied-jobs">
  <thead>
    <tr>
      <th scope="col">Job Id</th>
      <th scope="col">Company</th>
      <th scope="col">Job Title</th>
      <th scope="col">Application Date</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <td>{{object.job.id}}</td>
      <td><a href="{% url 'company-detail' slug=object.job.company.slug %}" target="_blank">{{ object.job.company.name }}</a></td>
      <td><a href="{% url 'job-detail' slug=object.job.slug %}" target="_blank">{{ object.job.title }}</a></td>
      <td>{{object.date_created}}</td>
      <td>
        {% if object.status == APPLIED_SHORTLISTED %}
        <span class="badge bg-warning text-dark">In process</span>
        {% endif %}
        {% if object.status == APPLIED %}
        <span class="badge bg-success">Shortlisted</span>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table> 

    {% for job in applied_jobs %}

    {% endfor %}
  </div>
  
</div>
{% endblock %}
{% block js %}

<script type = "text/javascript">
    $(document).ready(function(){
      $('#tb-applied-jobs').DataTable();
      });
</script>
{% endblock %}


