{% extends 'emp/base.html' %}
{% load crispy_forms_tags %}
{% load helper %}
{% block content-header %}Job List{% endblock %}
{% block content %}
{% for message in messages %}
    <div class="text-center alert alert-{{ message.tags }}">
                {{ message|safe }}
            </div>
        {% endfor %}
<div class="row">
    <div class="col-md-3">
        <div>
        <form>
            {{filterset.form.as_ul}}    
            <!-- <button type="submit">Search</button> -->
        </form>
         </div>
    </div>
    <div class="col-md-9">
{% if is_paginated %}
  {% if page_obj.has_previous %}
    <a href="?{% param_replace page=1 %}">First</a>
    {% if page_obj.previous_page_number != 1 %}
      <a href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
    {% endif %}
  {% endif %}

  Page {{ page_obj.number }} of {{ paginator.num_pages }}

  {% if page_obj.has_next %}
    {% if page_obj.next_page_number != paginator.num_pages %}
      <a href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
    {% endif %}
    <a href="?{% param_replace page=paginator.num_pages %}">Last</a>
  {% endif %}

  <p>Objects {{ page_obj.start_index }}—{{ page_obj.end_index }}</p>
{% endif %}
        <ul class="list-group">
        {% for item in object_list %}
            <li class="list-group-item d-flex justify-content-between">
                <a href="{% url 'job-detail' slug=item.job.slug %}">{{ item.job.title }}</a>
                {% if item.status == APPLIED_SHORTLISTED %}
                <span class="badge badge-success">In process</span>
                {% else %}
                <span class="badge badge-danger">Not Eligible</span>
                {% endif %}
            </li>
        {% empty %}
            <li>No jobs yet.</li>
        {% endfor %}
        </ul>
    </div>
    
</div>



{% endblock %}


