{% load static %}
{% load helper %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />
  {% block css %}
  {% endblock %}
	
</head>
<body>
	<div class="container-fluid">
    {% include "emp/navbar.html" %}
    {% if not request.user.is_anonymous %}
		<div class="row" id='main'>
			<div class="col-md-2 d-none d-md-block bg-light sidebar">

        {% if request.user|has_group:"MANAGER" %}
            {% endif %}
            {% if request.user|has_group:"STUDENT" %}
            <ul class="nav flex-column mt-5">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'student' %}">
            
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Student Dashboard</span></a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" href="{% url 'student_profile' pk=request.user.id%}" id="student_profile">
          <i class="fas fa-user-graduate"></i>
          <span>My Profile</span></a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link" href="{% url 'student_profile' pk=request.user.student.id %}">
          <i class="fas fa-user-graduate"></i>
          <span>Profile Settings</span></a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" href="" data-toggle="modal" data-target="#signupModal">
          <i class="fas fa-user-graduate"></i>
          <span>Ask us</span></a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" href="{% url 'job-list' %}" >
          <i class="fas fa-user-graduate"></i>
          <span>Jobs</span></a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href='blogstudent/'>
      <i class="fas fa-user-tie"></i>
          <span>blogs</span></a>
              </li> -->
              
            </ul>
            {% endif %}
            {% if request.user|has_group:"EMPLOYER" %}
            <ul class="nav flex-column mt-5">
              <li class="nav-item">
                <a class="nav-link" href='/'>
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Employer Dashboard</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="employer_profile">
      <i class="fas fa-user-tie"></i>
          <span>Create Profile</span></a>
              </li>
              <li class="nav-item">
          <span>Post jobs</span>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="payment">
      <i class="fas fa-user-tie"></i>
          <span>Payment</span></a>
              </li>
              
              
            </ul>
            {% endif %}

            {% if request.user|has_group:"MANAGER" %}
            <ul class="nav flex-column mt-5">
              <li class="nav-item">
                <a class="nav-link" href='/'>
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Manager Dashboard</span></a>
              </li>
              <li class="nav-item">
		      <a class="nav-link" href="{% url 'add_company' %}">
      
          <span>Add Company</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'company-list' %}">
      
          <span>View Company</span></a>
              </li>
              <li class="nav-item">
		      <a class="nav-link" href="{% url 'add_job' %}">
      
          <span>Add Job</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'job-list' %}">
      
          <span>View Jobs</span></a>
              </li>
             <li class="nav-item">
                <a class="nav-link" href="{% url 'student_grade_filter' %}">
      
          <span>Student Grade Filter</span></a>
              </li>
            </ul>
            {% endif %}
        </div>
			<div class="col-md-9">
				{% block content %}
        {% endblock %}
			</div>
		</div>
    {% else %}
    {% block main %}
    {% endblock %}
    {% endif %}
	</div>
	


<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% block js %}
{% endblock %}
</body>
</html>

