{% extends 'emp/base.html' %}
{% load crispy_forms_tags %}
{% load helper %}
{% block content-header %}{{object.name}}{% endblock %}
{% block content %}
{% include "emp/page_header.html" with title="Company Details" icon="<i class='bi bi-bank'></i>" %}
{% for message in messages %}
    <div class="text-center alert {{ message.tags }}">
                {{ message|safe }}
    </div>
        {% endfor %}
<table class="table table-bordered">
  <tbody>
    <tr class="table-info fs-6">
      <th scope="row">Company</th>
      <td>{{object.name}}</td>
    </tr>
    <tr>
      <th scope="row">Sector / Domain</th>
      <td>{{object.domain}}</td>
    </tr>
    <tr>
      <th scope="row">State</th>
      <td>{{company_state}}</td>
    </tr>
    <tr>
      <th scope="row">City</th>
      <td>{{company_city}}</td>
    </tr>
    <tr>
      <th scope="row">Company Size</th>
      <td>{{object.company_size | get_num_emp}}</td>
    </tr>
    <tr>
      <th scope="row">Website</th>
      <td>{{object.website}}</td>
    </tr>
    {% if request.user|has_group:"MANAGER" %}
    <tr>
      <th scope="row">Representative</th>
      <td>{{object.emp_name}}</td>
    </tr>
    <tr>
      <th scope="row">Contact</th>
      <td>{{object.emp_contact}}</td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td>{{object.email}}</td>
    </tr>
    <tr>
      <th scope="row">Address</th>
      <td>{{object.address}}</td>
    </tr>
    <tr>
      <th scope="row">Added By</th>
      <td>{{object.added_by}}</td>
    </tr>
    {% endif %}
    <tr>
      <th scope="row">Description</th>
      <td>{{object.description}}</td>
    </tr>
    <tr>
      <th scope="row">Rating</th>
      <td>{{object.rating | get_rating }}</td>
    </tr>
    <tr>
      <th scope="row">Status</th>
      <td>{{object.status | get_status }}</td>
    </tr>
  </tbody>
</table>
{% if object.sector %}
  <ul>
    {% for s in object.sector.all %}
      <li>
        {{ s.name }}
        {# recursively include template itself #}
        
      </li>
    {% endfor %}
  </ul>
{% endif %}
{% if request.user|has_group:"MANAGER" %}
<a href="{% url 'update-company-detail' slug=object.slug %}" class="btn btn-warning"><i class="bi bi-pencil"></i> Edit</a>
{% endif %}

{% endblock %}


