{% extends 'emp/base.html' %}
{% load crispy_forms_tags %}
{% block content-header %}Update Company Details{% endblock %}
{% block css %}
<style type="text/css">
    .form-group{
        margin-bottom: 1rem;
    }
</style>
{% endblock %}
{% block content %}
{% include "emp/page_header.html" with title="Update Company" icon="<i class='bi bi-bank'></i>" %}
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    {{ form | crispy }}
    <div class="col-md-6 form-group">
            <div class="form-group">
                <label for="state">State <span class="text-muted">(Company Headquarters)</span></label>
                <select class="form-control select-state" id="select-state">
                    <option value="0">-------------</option>
                  {% for s in state %} 
                    <option value="{{s.id}}">{{ s.name }}</option>
                    {% endfor %}
                </select>
            </div>
    	</div>
    	<div class="col-md-6 form-group">
    		<div class="form-group">
                <label for="city">City <span class="text-muted">(Company Headquarters)</span></label>
                <select class="form-control select-city" id="select-city" disabled>
                    <option value="0">-------------</option>
                  {% for c in city %} 
                    <option value="{{c.id}}">{{ c }}</option>
                    {% endfor %}
                </select>
            </div>
</div>
<button type="submit" class="btn btn-success mt-3" id="company-update">Update</button>
</form>


{% endblock %}
{% block jquery %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{% endblock %}
{% block js %}
<script type="text/javascript">
	$( document ).ready(function() {
        s = $('#id_state_c').val() ? $('#id_state_c').val() : '0';
        c = $('#id_city_c').val() ? $('#id_city_c').val() : '0';
		$('#select-state').val(s);
		$('#select-city').val(c);
   		$( "#company-update" ).click(function() {
            save_state_city()
		});
	});
</script>

{% endblock %}

