{% extends 'emp/base.html' %}

{% load crispy_forms_tags %}

{% block content-header %}Add Company{% endblock %}
{% block content %}
{% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
     {% endfor %}
<form method="POST" enctype="multipart/form-data" >
  
    <!-- Security token -->
    {% csrf_token %}
    <div class="form-row">
    	<div class="col-12 form-group">
    		{{ form.name | as_crispy_field }}
    	</div>
    	<div class="col-md-6 form-group">
    		{{ form.emp_name | as_crispy_field }}
    	</div>
    	<div class="col-md-6 form-group">
    		{{ form.emp_contact | as_crispy_field }}
    	</div>
    	<div class="col-md-6 form-group">
    		{{ form.phone | as_crispy_field }}
    	</div>
    	<div class="col-md-6 form-group">
    		{{ form.email | as_crispy_field }}
    	</div>
    	<div class="col-md-6 form-group">
    		{{ form.state_c | as_crispy_field }}
    	</div>
    	<div class="col-md-6 form-group">
    		{{ form.city_c | as_crispy_field }}
    	</div>
    	<div class="col-12 form-group">
    		{{ form.address | as_crispy_field }}
    	</div>
    	<div class="col-lg-3 col-md-6 form-group">
    		{{ form.domain | as_crispy_field }}
    	</div>
    	<div class="col-lg-3 col-md-6 form-group">
    		{{ form.company_size | as_crispy_field }}
    	</div>
    	<div class="col-lg-3 col-md-6 form-group">
    		{{ form.website | as_crispy_field }}
    	</div>
    	<div class="col-lg-3 col-md-6 form-group">
    		{{ form.logo | as_crispy_field }}
    	</div>
    	<div class="col-12 form-group">
    		{{ form.description | as_crispy_field }}
    	</div>
    	<div class="col-lg-3 col-md-6 form-group">
    		{{ form.rating | as_crispy_field }}
    	</div>
    	<div class="col-lg-3 col-md-6 form-group pb-3">
    		<br>
    		{{ form.status | as_crispy_field }}
    	</div>
    </div>
      
    <input type="submit" value="Submit" id="company_form">
</form>

{% endblock %}
{% block js %}
<script type = "text/javascript">
  
    $("#company_form").click(function(){
        state = $('#id_state_c').val();
        city = $('#id_city_c').val();
        console.log(state);
        console.log(city);
        });

    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
      hide_reject_labels();
      });
</script>
{% endblock %}

