{% extends 'emp/base_generic.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load helper %}
{% block content-header %}Homepage{% endblock %}
{% block css %}
<style type="text/css">
	.container{
		/*border: 1px solid black;*/
	}
	.row{
		/*border: 1px solid red;	*/
	}
	.col-lg-7{
		/*border: 1px solid green;	*/
	}
	.col-lg-4{
		/*border: 1px solid blue;	*/
	}
  .c-icon{
    color: #054C77!important;
    font-size: 1.5rem;
  }
  .c-btn{
    background: #054C77!important;
    color: #fff!important;

  }
  ul{
    list-style-type: none;  
  }
  .list-title{
    border-bottom: 1px solid #fff;
  }
  footer{
    background: #002648!important;
    color: #fff;
  }
  ul>li>a{
    color: #fff!important;
    font-size: 0.9rem;
  }
  .c-bg{
    /*background: rgba(0,38,72,0.8);*/
    /*background: orange;*/
    background: rgba(255,160,122,0.5);
    background: rgba(255,165,0,0.1);
  }
  .divider{
    border-left: 2px solid rgba(0,38,72,0.8);
  }
  .c-card{
    height: 100%;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 12px;
  cursor: pointer;
}

.c-card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.c-card h3{
  font-weight: 600;
}
div#navbarSupportedContent>ul>li>a{
  color: rgba(0,38,72,1)!important;
  font-weight: bold;
}
.company{
  border: 1px solid rgba(0,0,0,0.2);
}
.event .e-date{
  color : rgba(0,0,0,0.6);
}
.event .e-icon{
  color : rgba(0,0,0,0.6);
}
@media (max-width: 768px) {
                .img-announce{
                  display: block!important;
                    width: 80%!important;
                    margin-right: auto!important;
                    margin-left: auto!important;
                }
            }
</style>
{% endblock %}
{% block main %}
{% include "emp/header.html" %}
<div class="container mt-5" >
 <div class="row p-4 p-lg-5">
 	<div class="col-md-9">
 		<h1 class="display-6 fw-bold"><span style="color: #002648;">Spoken Tutorial</span></h1>
 		<h2 class="display-6 fs-3 fw-bold"><span style="color: rgba(255,165,0,0.8);">Job Recommendation System</span></h2>
 		<hr>
 		<p class="lead">A platform to connect potential employers with students across India, having the right skills set.</p><br>
 		<a class="btn c-btn mb-3" href="{% url 'login' %}" role="button" style="width: 100px;" target="_blank">Login</a>
 	</div>
 	<div class="col-md-3">
     <img src="../../../static/images/announce-1-8.png" style="width: 100%;height: auto;" class="img-announce mx-auto text-center">
 		<p class="my-2 text-center"><b>Announcing Virtual Job Fair 2022</b></p>
     <a class="btn c-btn mb-3" href="{% url 'jobfair' 1 %}" role="button" target="_blank" style="background-color: #E48600!important; width: 100%;">Click For Details</a>
     
     

 	</div>
 </div>
 <div class="row p-5 bg-light border" id="about">
 	<div class="col-12">
 		<h2 class="display-6 fs-4">About Us</h2>
 		<hr>
 		<p>
 			The Spoken Tutorial Project is a Massive Open Online Courses or MOOCs based IT-software training project of the National Mission on Education through ICT, funded by Ministry of Human Resource Development, Government of India. <br>
      Topper students from Spoken Tutorial Tests will be able to apply for the jobs via Job Recommendation System.
 		</p>
 	</div>
 </div>
</div>
<br>
<div class="container mt-3 px-0">
  <div class="d-flex justify-content-between">
    <p class="display-6 border-bottom" style="font-size: 1.5rem;color: #002648;">Companies</p>
    <p><a type="button" class="btn btn-outline-primary c-btn" href="{% url 'companies' %}" target="_blank">View all companies</a></p>
  </div>
	<!-- <div class="d-flex justify-content-center" style="width: 100%;" >
    {% for company in companies %}
    <div class="text-center  me-2 p-2 company">
      <img src="{{company.logo}}" style="width: 140px; height: auto;">
    </div>
    {% endfor %}
	</div> -->
  <div class="row" >
    {% for company in companies %}
    <div class="col-sm-6 col-md-2  mb-3">
      <div class="company text-center p-3" style="height: 100%;">
        <!-- <img src="{{company.logo}}" style="width: 60%; height: auto;" > -->
        <p>{{company.name}}</p>
      </div>
      
    </div>
    {% endfor %}
	</div>
</div>
<br>
<hr>
<br>
<div class="container mt-3 px-0">
  <div class="d-flex justify-content-between">
    <p class="display-6 border-bottom" style="font-size: 1.5rem;color: #002648;">Events</p>
    <p><a type="button" class="btn btn-outline-primary c-btn" href="{% url 'event-list' %}" target="_blank">View all events</a></p>
  </div>
	<!-- <div class="d-flex justify-content-center" style="width: 100%;" >
    {% for company in companies %}
    <div class="text-center  me-2 p-2 company">
      <img src="{{company.logo}}" style="width: 140px; height: auto;">
    </div>
    {% endfor %}
	</div> -->
  <div class="row" >
    {% for event in events %}
    <div class="col-sm-6 col-md-4 event mb-3">
      <a href="{% url 'public-event' pk=event.id %}">
        <div class="company text-center py-3" style="height: 100%;">
          <p><span>{{event.name | capfirst}}</span></p>
          
          <hr>
          <p ><span class="e-icon"><i class="fas fa-calendar-alt"></i> </span><span class="e-date">{{ event.start_date | format_date:event.end_date}}</span></p>
        </div>
      </a>
    </div>
    {% endfor %}
	</div>
</div>
<hr>
<div class="container py-3">
  <div class="d-flex justify-content-between">
    <p class="display-6 border-bottom" style="font-size: 1.5rem;color: #002648;">Image Gallery</p>
    <!-- <p><button type="button" class="btn btn-outline-primary c-btn">View Image Gallery</button></p> -->
    <p><a class="btn btn-outline-primary c-btn" href="{% url 'image_gallery' %}" role="button">View Image Gallery</a></p>
  </div>
	<div class="row" id="gallery" >
    {% for image in gallery %}
    <div class="col-12 col-sm-6 col-lg-3 py-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <div class="c-card ">
        <div>
        <img class="w-100" src="/media/{{image.location}}" style="width: 100%;" data-target="#carouselExample" data-slide-to="0">  
        </div>
        <hr>
        <p class="text-muted" style="font-size: 0.9rem;">{{image.desc | truncatechars:255}}</p>
      </div>
    </div>
    {% endfor %}
</div>
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
             {% for image in gallery %}
             {% if forloop.counter == 1 %}
             <div class="carousel-item active">
              <img class="d-block w-100" src="/media/{{image.location}}">
              <p class="text-muted" style="font-size: 0.9rem;">{{image.desc}}</p>
            </div>
            {% else %}
            <div class="carousel-item">
              <img class="d-block w-100" src="/media/{{image.location}}">
              <p class="text-muted" style="font-size: 0.9rem;">{{image.desc}}</p>
            </div>
             {% endif %}
              {% endfor %}
          </div>
          <a class="carousel-control-prev" role="button" data-bs-slide="prev" data-bs-target="#carouselExample">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" data-bs-target="#carouselExample" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>
</div>
<hr>

<div class="container py-3">
  <div class="d-flex justify-content-between">
    <p class="display-6 border-bottom" style="font-size: 1.5rem;color: #002648;">Testimonials</p>
    <p><a class="btn btn-outline-primary c-btn" href="{% url 'list_testimonials' %}" role="button">View All Testimonials</a></p>
  </div>

  <div class="row" id="testimonial">
    {% for testimonial in testimonials %}
    <div class="col-12 col-sm-6 col-lg-3 py-3">
      <div class="c-card d-flex flex-column ">
        <video width="100%" height="auto" controls oncontextmenu="return false;">
                <source src="/media/{{testimonial.location}}" type="video/mp4">
              Your browser does not support the video tag.
              </video>
              <hr>
      <p class="text-muted" style="font-size: 0.9rem;" >{{testimonial.desc | truncatechars:255}}</p>
      <!-- <span><button type="button" class="btn btn-outline-dark my-auto" data-bs-toggle="modal" data-bs-target="#testimonialModal_{{testimonial.id}}">View</button></span> -->
      </div>
    </div>
    {% endfor %}
  </div>

</div>

<div class="container-fluid py-5 c-bg">
  <div class="container">
    <div class="row">
    <div class="col-12 col-md-6 divider">
      <div class="alert" role="alert" style="display: none;" id="msg-status"></div>
<div id="notify" style="display: none;">
<span class="spinner-border spinner-border-sm text-success" role="status">
  <span class="sr-only">Loading...</span>
</span> Sending message, please wait ....
</div>

      <p class="display-6 border-bottom pe-5" style="font-size: 1.5rem;color: #002648;">Contact Us</p>
      <form id="contact_form">
        {% csrf_token %}
            <div class="row">
              <div class="col-sm-12 col-md-6">
                {{ contact_form.name | as_crispy_field}}
              </div>
              <div class="col-sm-12 col-md-6">
                {{ contact_form.email | as_crispy_field}}
              </div>
              <div class="col-sm-12">
                {{ contact_form.message | as_crispy_field}}
              </div>
            </div>
        <button type="submit" class="btn c-btn mt-3" id="btn-contact">Submit</button>
      </form>
    </div>
    <div class="col-12 col-md-3 pt-3 px-3 divider">
      <p>
      <i class="fas fa-map-marker-alt me-2 c-icon"></i><span class="text-muted fs-6">
        <a href="https://www.google.com/maps/place/Spoken+Tutorial+Project/@19.1326044,72.9167276,17z/data=!3m1!4b1!4m5!3m4!1s0x3be7c7498b55db05:0x1f43a82469c92450!8m2!3d19.1325993!4d72.9189163" target="_blank">
          Spoken Tutorial Project,<br>TCS Lab,Behind CAD Centre,<br>IIT Bombay, Powai, Mumbai - 400076
        </a></span>
      </p>
      <p>
      <i class="fas fa-phone-square-alt me-2 c-icon"></i><span class="text-muted fs-6">
        <a href="tel:+912225764229" >+ 91 22 25764229</a></span>
      </p>
      <p>
      <i class="fas fa-envelope me-2 c-icon"></i><span class="text-muted fs-6">
        <a href="mailto:contact@spoken-tutorial.org">contact@spoken-tutorial.org</a></span>
      </p>
    </div>
    <div class="col-12 col-md-3 pt-3 ">
      <div class="text-muted d-flex flex-column align-content-center">
    <p>
      <i class="fab fa-facebook-square me-2 c-icon"></i><span><a href="https://www.facebook.com/SpokenTutorial.org" class="link-secondary fst-italic" target="_blank">Facebook Page</a></span>
    </p>
    <p>
      <i class="fab fa-youtube-square me-2 c-icon"></i><span><a href="https://www.youtube.com/user/SpokenTutorialIITB" class="link-secondary fst-italic" target="_blank">Youtube Account</a></span>
    </p>
    <p>
      <i class="fab fa-linkedin me-2 c-icon"></i><span><a href="https://www.linkedin.com/company/spokentutorial/" class="link-secondary fst-italic" target="_blank">LinkedIn Account/</a></span>
    </p>
    <p>
      <i class="fab fa-skype me-2 c-icon"></i><span>st-iitb</span>
    </p>
    <p>
      <i class="fas fa-external-link-square-alt me-2 c-icon"></i><span><a href="https://spoken-tutorial.org/" class="link-secondary fst-italic" target="_blank">https://spoken-tutorial.org/</a></span>
    </p>
  </div>
    </div>
  </div>
  </div>
</div>
<footer class="container-fluid py-5 ">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <ul>
          <li class="list-title">Training</li>
          <li>
            <a href="https://process.spoken-tutorial.org/index.php/Software-Training" target="_blank">Software Training</a>
          </li>
          <li>
            <a href="https://process.spoken-tutorial.org/index.php/Software-Training#Contacts_For_Training" target="_blank">Contacts for Training</a>
          </li>
          <li>
            <a href="https://spoken-tutorial.org/accounts/login/?next=/software-training/" target="_blank">Training Dashboard</a>
          </li>
          <li></li>
        </ul>
      </div>
      <div class="col-lg-4">
        <ul>
          <li class="list-title">About Us</li>
          <li>
            <a href="https://spoken-tutorial.org/about-us/" target="_blank">About Spoken Tutorial</a>
          </li>
          <li>
            <a href="https://spoken-tutorial.org/team/Creation-Team/" target="_blank">Team</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4">
       
        <p>Developed at IIT-Bombay</p>
      </div>
    </div>
  </div>
</footer>
	

{% endblock %}
{% block jquery %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{% endblock %}
{% block js %}
<script type = "text/javascript">
    $( "#contact_form" ).submit(function( event ) {
      var name = $('#id_name').val();
      var email = $('#id_email').val();
      var message = $('#id_message').val();
      if(name && email && message){
              $('#notify').show();
              $.ajax({
                  url: "/ajax-contact-form/",
                  type: "POST",
                  data: {
                      name : name,
                      email : email,
                      message : message
                  },
                  success: function(data) {
                      if(data){
                        if (data['status']==1) {
                          var element = document.getElementById("msg-status");
                          element.classList.add("alert-success");
                          $('#msg-status').html('Thank you for contacting Spoken Tutorial.');
                          $('#msg-status').show();
                          $('#notify').hide();
                        }
                        if (data['status']==0) {
                          var element = document.getElementById("msg-status");
                          element.classList.add("alert-danger");
                          $('#msg-status').html('An error occurred while sending the message.Please try later.');
                          $('#msg-status').show();
                        }
                      } 
                  }
              });
          }
  event.preventDefault();
});
   
    $(document).ready(function(){
      
    });
</script>
{% endblock %}