{% extends 'emp/base.html' %}
{% load crispy_forms_tags %}
{% load helper %}
{% block content-header %}Job List{% endblock %}
{% block css %}
<style type="text/css">
  #job-app-status{
    border-right: 5px solid #FFCC00;
    color: #0066A0;
  }
  #job-app-status a{
    color: green!important;
    font-weight: bold;
  }
</style>
{% endblock %}
{% block content %}
{% include "emp/page_header.html" with title="Job Applications Status" icon="<i class='bi bi-list-ul'></i>" %}
{% for message in messages %}
    <div class="text-center alert alert-{{ message.tags }}">
                {{ message|safe }}
            </div>
        {% endfor %}
<br>

<table class="table table-striped" id="shortlisted">
  <thead>
    <tr>
      <!-- <th scope="col">#Sr</th> -->
      <th scope="col">Job Id</th>
      <th scope="col">Job Title</th>
      <th scope="col">Company</th>
      <th scope="col">#Applications</th>
      <th scope="col">Last Application Date</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
  	{% for job in object_list %}
  	<tr>
      <!-- <td scope="row">{{forloop.counter}}</td> -->
      <td>{{job.id}}</td>
      <td><a href="{% url 'job-app-detail' id=job.id  %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Click to view/shortlist students">{{job.title}}</a></td>
      <td>{{job.company.name}}</td>
      <td><a href="{% url 'job-app-detail' id=job.id  %}">{% application_count job %}</a></td>
      <td>{{job.last_app_date}}</td>
      <td>{{job.status}}</td>
      <!-- <td>
      	{% if item.status == 1 %}
      	<span style="color: orange;"><i class="far fa-clock"></i></span>
      	{% else %}
      	<span style="color: green;"><i class="far fa-check-circle"></i></span>
      	{% endif %}
      </td> -->
    </tr>
	{% empty %}
    <!-- <li>No jobs yet.</li> -->
	{% endfor %}
  </tbody>
</table>
{% endblock %}
{% block jquery %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{% endblock %}
{% block js %}
<script type = "text/javascript">
    $(document).ready(function(){
        $('#shortlisted').DataTable();
        $('[data-bs-toggle="tooltip"]').tooltip();
      });
</script>
{% endblock %}


