{% extends 'emp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load helper %}
{% block content-header %}Job List{% endblock %}
{% block css %}
<style type="text/css">
  .tab-pane{
    padding-top: 15px;
  }
  .div-logo{
    border-right: 1px solid rgba(0,0,0,0.2);
  }
  .hr{
    border: 1px solid #0066A0;
  }
  .modal-title-color{
    color: #054C77;
  }
</style>
{% endblock %}
{% block content %}
{% include "emp/page_header.html" with title="Applied Students" icon="<i class='bi bi-list-check'></i>" %}
{% for message in messages %}
    <div class="text-center alert alert-{{ message.tags }}">
                {{ message|safe }}
            </div>
        {% endfor %}
<br>
<!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">Toggle top offcanvas</button>
 -->
<div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasTopLabel">
      <span class="spinner-grow text-success" role="status" id="spinner">
    
</span>
    </h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p class="fw-bold" id="sending_status">Sending Mails...Please DO NOT refresh or close the page. </p>
    <div id="mail_status" class="btn-group" role="group" aria-label="Mail status" style="display: none;">
  <button type="button" class="btn btn-outline-success" disabled>Mails sent  : <span id="sent"></span></button>
  <button type="button" class="btn btn-outline-danger" disabled>Errors : <span id="errors"></span></button>
</div>
<p class="text-danger" id="error_status" style="display: none;">Error in sending mails. Please refer to mail log. </p>
  </div>
</div>
<div>
  <span class="me-5"><b>Job Id : </b>{{job.id}}</span><span class="me-5"><b>Job Title : </b>{{job.title}}</span><span><b>Company : </b>{{job.company.name}}</span>
</div>

<hr class="hr">
<div>
  <nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button style="color: black;" class="nav-link active" id="nav-awaiting-tab" data-bs-toggle="tab" data-bs-target="#nav-awaiting" type="button" role="tab" aria-selected="true">Awaiting Shortlist</button>
    <button style="color: green;" class="nav-link" id="nav-shortlisted-tab" data-bs-toggle="tab" data-bs-target="#nav-shortlisted" type="button" role="tab"  aria-selected="false">Shortlisted</button>
    <button style="color: red;" class="nav-link" id="nav-rejected-tab" data-bs-toggle="tab" data-bs-target="#nav-rejected" type="button" role="tab"  aria-selected="false">Rejected</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-awaiting" role="tabpanel" aria-labelledby="nav-home-tab">
    {% if students_awaiting %}
    <div>
      <div>
        <p>List of students awaiting for further shortlist.</p>
      </div>
      <input class="form-check-input" type="checkbox" value="" id="select-all"> Select all students <hr>
      <div class="d-flex">
        <div scope="col">
          <button type="button" class="btn btn-success btn-sm btn-status"  id="btn-shortlist" onclick="shortlist_student(this,'{{job.id}}');">Shortlist</button></div>
        <div scope="col" class="mx-5"> <button type="button" class="btn btn-danger btn-sm btn-status"   onclick="shortlist_student(this,'{{job.id}}');">Reject</button></div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
          {% for student in students_awaiting %}
          <tr>
            <td><input class="form-check-input select-student me-5" type="checkbox" value="" id="student_{{student.spk_usr_id}}"> 
          <a href="{% url 'student_profile_details' student.spk_usr_id job.id %}" target="_blank">{{student.spk_usr_id | get_student_fullname | title }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <div>
      <p>No data available.</p>
    </div>
    {% endif %}
    
    
      


  </div>
  <div class="tab-pane fade" id="nav-shortlisted" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div>
      <p>Final list of students shortlisted for second mail.</p>
    </div>
    <hr>
    {% if students_shortlisted %}
    <div class="d-flex mb-3" id="mass-mail">
      <div><button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#taskModal">Create Mass Mail</button></div>
      <div class="mx-5"><button type="button" class="btn btn-danger btn-sm btn-status"  onclick="shortlist_student(this,'{{job.id}}');">Reject</button></div>
    </div>
    {% endif %}
    <table class="table table-striped pt-3" id="tb-shortlisted">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">#Sr No.</th>
      <th scope="col">Student</th>
      <th scope="col">Spoken User Id</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    {% for student in students_shortlisted %}
    <tr>
      <td><input class="form-check-input select-student me-5" type="checkbox" value="" id="student_{{student.spk_usr_id}}"> 
      <td>{{forloop.counter}}</td>
      <!-- <td><a href="{% url 'student_profile' pk=student.id  %}">{{student.user.first_name}}</a></td> -->
      <td><a href="{% url 'student_profile_details' student.spk_usr_id 0 %}">{{student.user.get_full_name | title}}</a></td>

      
      <td>{{student.spk_usr_id}}</td>
      <td>{{student.user.email}}</td>
    </tr>
  {% empty %}
  {% endfor %}
  </tbody>
</table>
  </div>
  <div class="tab-pane fade" id="nav-rejected" role="tabpanel" aria-labelledby="nav-rejected-tab">
    <div>
      <p>Rejected list of students.</p>
    </div><hr>
    {% if students_rejected %}
    <div class="d-flex mb-3" id="mass-mail">
      <!-- <div><button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#taskModal">Create Mass Mail</button></div> -->
      <button type="button" class="btn btn-success btn-sm btn-status"  id="btn-shortlist" onclick="shortlist_student(this,'{{job.id}}');">Shortlist</button>
      </div>
    {% endif %}
    
  <!-- <div class="mx-5"><button type="button" class="btn btn-outline-danger btn-sm btn-status"  onclick="shortlist_student(this,'{{job.id}}');">Reject</button></div> -->
  <div>
    <table class="table table-striped pt-3" id="tb-rejected">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">#Sr No.</th>
          <th scope="col">Student</th>
          <th scope="col">Spoken User Id</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students_rejected %}
        <tr>
          <td><input class="form-check-input select-student me-5" type="checkbox" value="" id="student_{{student.spk_usr_id}}"> 
          <td>{{forloop.counter}}</td>
          <!-- <td><a href="{% url 'student_profile' pk=student.id  %}">{{student.user.first_name}}</a></td> -->
          <td><a href="{% url 'student_profile_details' student.spk_usr_id 0 %}">{{student.user.get_full_name | title}}</a></td>
    
          
          <td>{{student.spk_usr_id}}</td>
          <td>{{student.user.email}}</td>
        </tr>
      {% empty %}
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

    
  </div>
</div>
</div>

<!-- Modal -->
<center>
  <div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <span class="modal-title fs-6 " id="exampleModalTitle">
            <span class="modal-title-color">{{job.title}} </span><span> ( Company : {{job.company.name}} )</span></p>
            
            
           </span>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method='post' action="{% url 'ajax_send_mail' %}" id="form_mass_mail">
          {% csrf_token %}
            <div class="form-group">
              <label for="recipient-name" class="control-label">Subject:</label>
              <input type="text" class="form-control" id="task_subject" name = "subject" required>
            </div>
            <div class="form-group">
              <label for="job-id" class="control-label">Job Id:</label>
              <input type="text" class="form-control" id="task_job" name = "job_id" value="{{job.id}}" readonly>
            </div>
            <div class="form-group">
              <label for="message-text" class="control-label">Message:</label>
              <textarea class="form-control" id="task_message" name = "message"></textarea>
            </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary " id ="task_submit" onclick="send_mass_mail(event)">Send Mail</button>
            <!-- <button type="submit" class="btn btn-primary " id ="task_submit">Send Mail</button> -->
          </div>
        </div>
        </form>
        </div>
      </div>
    </div>
  </div>
  </center>

  {{ mass_mail|json_script:'name' }}
{% endblock %}
{% block jquery %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{% static 'accounts/js/main.js' %}"></script>

{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type = "text/javascript">
  // var mass_mail_url;
  var tb_s;
  var tb_a;
  var mass_mail_url;
  function shortlist_student(apply_btn,job_id){
    apply_btn_id = apply_btn.id;    
    var student_ids = [];
    var students = '';
        $('input.select-student:checked').each(function() {
          id = $(this).attr("id");
          students+=id.split('_')[1]+','
     });
        if(students==''){
          alert('Please select student\(s\)')
        }else{
          if(apply_btn_id==='btn-shortlist'){
            status = 1;
          }else{
            status = 2;
      }
      $.ajax({
        url: "/shortlist_student",
        data: {
          'job_id' : job_id,
          'students' : students,
          'status':status,
        },
        dataType: 'json',
        success:function(data){
          id=apply_btn_id.split('_');
          if (data.updated==true) {
            location.reload();
          }
      }});
        }
  }

  
    $(document).ready(function (){
      mass_mail_url = JSON.parse(document.getElementById('name').textContent);
      tb_s = $('#tb-shortlisted').DataTable();  
      tb_a = $('#tb-awaiting').DataTable();
      tb_r = $('#tb-rejected').DataTable();
      var selected = [];
      

    $('#select-all').change(function() {
      
        if(this.checked) {
            $(':checkbox').prop('checked', true);            
        }else{
          $(':checkbox').prop('checked', false);
        }
        $('#textbox1').val(this.checked);        
    });
    $('input.select-student:checkbox').change(function() {
        var allVals = [];
        $('input.select-student:checked').each(function() {
       allVals.push($(this).val());
     });
        if (allVals.length) {
          var x = document.getElementsByClassName("select-student");
          if (allVals.length==x.length) {
            $(':checkbox').prop('checked', true);
          };
          
        }else{
          $('#select-all:checkbox').prop('checked', false);
        }
     $('#t').val(allVals);
    });
    $('button[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
      var target = $(e.target).attr("id"); // activated tab
      if (target=='nav-shortlisted-tab'){
        $('#mass-mail').show();
      }else{
        $('#mass-mail').hide();
      }
  });

});
</script>
<script>

$("#form_mass_mail").on("submit", function(event){
        event.preventDefault();
        table = $('#tb-shortlisted').DataTable()
        if (table.data().any() == false){
          alert('Email list is empty. Please filter emails for mass mail.')
          return
        }
         
        emails = table.column(3).data()
        data = []
        for (i = 0; i < emails.length; i++) {
              data.push([emails[i]])
            }
      modal = $('#taskModal').modal()
      subject = modal.find('.modal-body input[name="subject"]').val()
      job = modal.find('.modal-body input[name="job_id"]').val()
      message = CKEDITOR.instances['task_message'].getData()
      data = JSON.stringify({ 'data': data });
      mail_data = {'subject': subject,'job': job, 'message': message, 'data': data}
      m_url = $(this).attr('action');
      var myOffcanvas = document.getElementById('offcanvasTop')
      var bsOffcanvas = new bootstrap.Offcanvas(myOffcanvas)
      bsOffcanvas.show()
      $('#taskModal').modal('toggle');
      $.ajax({
          type: 'POST',
          url: $(this).attr('action'),
          data: mail_data,
          success:function(data) {
              $('#sending_status').hide();
              var el = document.getElementById('spinner');
              el.remove(); 
              $("#mail_status").show();

              $("#sent").text(data['sent']);
              $("#errors").text(data['errors']);
            },
          error:function(data) {
            $('#sending_status').hide();
            var el = document.getElementById('spinner');
              el.remove(); 
              $('#error_status').show();
            },
          })
    });

</script>


<script type="text/javascript" src="{% static '/ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static '/ckeditor/ckeditor/ckeditor.js' %}"></script>
<script>
  // Replace the <textarea id="editor1"> with a CKEditor
  // instance, using default configuration.
  CKEDITOR.replace( 'task_message' );
</script>
{% endblock %}


