{% extends 'emp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load helper %}
{% block content-header %}Job List{% endblock %}
{% block css %}
<style type="text/css">
  .tab-pane{
    padding-top: 15px;
  }
  .div-logo{
    border-right: 1px solid rgba(0,0,0,0.2);
  }
  .hr{
    border: 1px solid #0066A0;
  }
</style>
{% endblock %}
{% block content %}
{% include "emp/page_header.html" with title="Applied Students" icon="<i class='bi bi-list-check'></i>" %}
{% for message in messages %}
    <div class="text-center alert alert-{{ message.tags }}">
                {{ message|safe }}
            </div>
        {% endfor %}
<br>
<div>
  <span class="me-5"><b>Job Id : </b>{{job.id}}</span><span class="me-5"><b>Job Title : </b>{{job.title}}</span><span><b>Company : </b>{{job.company.name}}</span>
  <!-- <div class="d-flex">
    <div class="div-logo">
      {% if job.company.logo %}
    <img class="d-block align-self-center m-2" src="{{ job.company.logo.url|default_if_none:'#' }}" alt="Card image cap" 
    style=" height: 100px;display: inline;">
    {% endif %}
    </div>
    <div class="mx-4">
      <strong>Job Id : </strong>{{job.id}}<br>
      <strong class="mb-1">Job Title : </strong><a href="{% url 'job-detail' slug=job.slug %}" target="_blank">{{ job.title }}</a><br>
      <span><b>Company : </b>   <a href="{% url 'company-detail' slug=job.company.slug %}" target="_blank">{{ job.company.name }}</a><br>{{job.state}} , {{job.city}}</span>
    </div>
    <div ></div>
  </div> -->
</div>
<hr class="hr">
<div class="row mb-3" id="mass-mail" style="display: none;">
  <div class="col-md-2"><button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#taskModal">Create Mass Mail</button></div>
  <div class="col-md-10 border p-2">
    <span>Please make sure that you are logged in <a href="https://spoken-tutorial.org/" target="_blank">https://spoken-tutorial.org/</a></span>
  </div>
</div>
<div>
  <nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-awaiting-tab" data-bs-toggle="tab" data-bs-target="#nav-awaiting" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Awaiting Shortlist</button>
    <button class="nav-link" id="nav-shortlisted-tab" data-bs-toggle="tab" data-bs-target="#nav-shortlisted" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Shortlisted</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-awaiting" role="tabpanel" aria-labelledby="nav-home-tab">

    <table class="table table-striped" id="tb-awaiting">
      <thead>
        <tr>
    {% if d %}
      {% for key, value in d.0.items %}
   {% if key == 'spk_usr_id' %}
   <th scope="col"><input class="form-check-input" type="checkbox" value="" id="select-all" > <button type="button" class="btn btn-outline-success btn-sm" style="display: none;" id="btn-shortlist" onclick="shortlist_student(this,'{{job.id}}');">Shortlist</button></th>
   {% else %}
   <td><b>{{key | title}}</b></td>
   {% endif %}
   {% endfor %}
   {% else %}
   <th>No Data Available. Please check shortlisted tab.</th>
    {% endif %}
        </tr>
      </thead>
      <tbody>
        {% if d %}
        {% for dict_item in d %}
        <tr>
   {% for key, value in dict_item.items %}
   {% if key == 'spk_usr_id' %}
   <td><input class="form-check-input select-student" type="checkbox" value="" id="student_{{value}}"> 
    <a href="{% url 'student_profile_details' value job.id %}" target="_blank">{{value | get_student_fullname | title }} ({{value}})</a></td>
   {% else %}
   <td>{{value}}</td>
   {% endif %}
   {% endfor %}
   </tr>
{% endfor %}
{% else %}
<td></td>
{% endif %}
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="nav-shortlisted" role="tabpanel" aria-labelledby="nav-profile-tab">
    <table class="table table-striped pt-3" id="tb-shortlisted">
  <thead>
    <tr>
      <th scope="col">#Sr No.</th>
      <th scope="col">Student</th>
      <th scope="col">Spoken User Id</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    {% for student in students_shortlisted %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td><a href="{% url 'student_profile' pk=student.id  %}">{{student.user.first_name}}</a></td>
      <td>{{student.spk_usr_id}}</td>
      <td>{{student.user.email}}</td>
    </tr>
  {% empty %}
  {% endfor %}
  </tbody>
</table>
  </div>
</div>
</div>

<!-- Modal -->
<center>
  <div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalTitle">Subject:</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          
        </div>
        <div class="modal-body">
          <form method='post' action="">
          {% csrf_token %}
            <div class="form-group">
              <label for="recipient-name" class="control-label">Subject:</label>
              <input type="text" class="form-control" id="task_subject" name = "task_subject" required>
            </div>
            <div class="form-group">
              <label for="job-id" class="control-label">Job Id:</label>
              <input type="text" class="form-control" id="task_job" name = "task_job" required>
            </div>
            <div class="form-group">
              <label for="message-text" class="control-label">Message:</label>
              <textarea class="form-control" id="task_message" name = "task_message"></textarea>
            </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary " id ="task_submit" onclick="send_mass_mail(event)">Create</button>
          </div>
        </div>
        </form>
        </div>
      </div>
    </div>
  </div>
  </center>

  {{ mass_mail|json_script:'name' }}
{% endblock %}
{% block jquery %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{% endblock %}

{% block js %}
<script type = "text/javascript">
  // var mass_mail_url;
  var tb_s;
  var tb_a;
  var mass_mail_url;
  function shortlist_student(apply_btn,job_id){
    apply_btn_id = apply_btn.id;
    var student_ids = [];
    var students = '';
        $('input.select-student:checked').each(function() {
          id = $(this).attr("id");
          students+=id.split('_')[1]+','
     });
        console.log(students);
    $.ajax({
      url: "/shortlist_student",
      data: {
        'job_id' : job_id,
        'students' : students,
      },
      dataType: 'json',
      success:function(data){
        var messages = data.msg
        id=apply_btn_id.split('_');
        if (data.updated==true) {
          location.reload();
        }
    }});
  }
    $(document).ready(function (){
      mass_mail_url = JSON.parse(document.getElementById('name').textContent);
      tb_s = $('#tb-shortlisted').DataTable();  
      tb_a = $('#tb-awaiting').DataTable();
      var selected = [];
    $('#select-all').change(function() {
      
        if(this.checked) {
            $(':checkbox').prop('checked', true);
            $('#btn-shortlist').show();
        }else{
          $(':checkbox').prop('checked', false);
          $('#btn-shortlist').hide();
        }
        $('#textbox1').val(this.checked);        
    });
    $('input.select-student:checkbox').change(function() {
        console.log('select checked');
        var allVals = [];
        $('input.select-student:checked').each(function() {
       allVals.push($(this).val());
     });
        if (allVals.length) {
          $('#btn-shortlist').show();
          var x = document.getElementsByClassName("select-student");
          if (allVals.length==x.length) {
            $(':checkbox').prop('checked', true);
          };
          
        }else{
          $('#btn-shortlist').hide();
          $('#select-all:checkbox').prop('checked', false);
        }
     $('#t').val(allVals);
    });
    $('button[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
      var target = $(e.target).attr("id"); // activated tab
      if (target=='nav-shortlisted-tab'){
        $('#mass-mail').show();
      }else{
        $('#mass-mail').hide();
      }
  });
    
});
</script>
<script>


function send_mass_mail(event) {
        event.preventDefault();
        
        table = $('#tb-shortlisted').DataTable()
        if (table.data().any() == false){
          alert('Email list is empty. Please filter emails for mass mail.')
          return
        }
         
        emails = table.column(3).data()
        data = []
        for (i = 0; i < emails.length; i++) {
              data.push([emails[i]])
            }
      modal = $('#taskModal').modal()
      subject = modal.find('.modal-body input[name="task_subject"]').val()
      job = modal.find('.modal-body input[name="task_job"]').val()
      message = CKEDITOR.instances['task_message'].getData()
      data = JSON.stringify({ 'data': data });
      m_url = mass_mail_url;
      $.post(m_url,{'subject': subject,'job': job, 'message': message, 'data': data},
      function(success_url){
        window.location = success_url
        }
      );
      }
</script>
<script type="text/javascript" src="{% static '/ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static '/ckeditor/ckeditor/ckeditor.js' %}"></script>
<script>
  // Replace the <textarea id="editor1"> with a CKEditor
  // instance, using default configuration.
  CKEDITOR.replace( 'task_message' );
</script>
{% endblock %}


