{% extends 'emp/base.html' %}
{% load crispy_forms_tags %}
{% load helper %}
{% block content-header %}{{ object.title}}{% endblock %}
{% block content %}
{% include "emp/page_header.html" with title="Job Details" icon="<i class='bi bi-briefcase-fill'></i>" %}
{% for message in messages %}
    <div class="text-center alert {{ message.tags }}">
                {{ message|safe }}
            </div>
        {% endfor %}

<div class="row">
  <div class="col-12">
    <table class="table table-bordered ">
  <tbody>
    <tr>
      <th class="col-md-3">Title of the Job Page</th>
      <td>{{object.title}}</td>
    </tr>
    <tr>
      <th >Designation <span class="text-muted fw-light">(Job Position)</span></th>
      <td>{{object.designation}}</td>
    </tr>
    <tr>
      <th >Company</th>
      <td>{{object.company}}</td>
    </tr>
    <tr>
      <th>Job Sector</th>
      <td>{{object.domain}}</td>
    </tr>
    
    <tr>
      <th >Job Description</th>
      <td>{{object.description}}</td>
    </tr>
    <tr>
      <th>Office Location</th>
      <td>
        <table class="table table-bordered ">
          <tr>
            <th>State</th>
            <th>City</th>
          </tr>
          <tr>
            <td>{% get_statedetails object.state_job %}</td>
            <td>{% get_citydetails object.city_job %}</td>
          </tr>
          
        </table>
      </td>
    </tr>
    <tr>
      <th >Qualifications/Skills Required</th>
      <td>{{object.requirements}}</td>
    </tr>
    <tr>
      <th >Key Job Responsibilities</th>
      <td>{{object.key_job_responsibilities}}</td>
    </tr>
    <tr>
      <th >Other</th>
      <td>
        <table class="table table-bordered ">
          <tr>
            <th>Job Type</th>
            <th>Shift Time</th>
            <th>Salary Range</th>
            <th>Gender</th>
          </tr>
          <tr>
            <td>{{object.job_type}}</td>
            <td>{{object.shift_time}}</td>
            <td>{{object.salary_range_min |default_if_none:''}} - {{object.salary_range_min | default_if_none:''}}</td>
            <td>{{object.gender | display_gender}}</td>
          </tr>
          
        </table>
      </td>
    </tr>
    <tr>
      <th>Last Application Date</th>
      <td>{{object.last_app_date}}</td>
    </tr>
    <tr class="table-info">
      <td colspan="2"><center><b>Student Eligibility Criteria</b></center></td>
    </tr>
    <tr>
      <th >FOSS</th>
      <td>{{object.foss | display_foss}}</td>
    </tr>
    <tr>
      <th >Institute Type</th>
      <td>{{object.institute_type | display_institute}}</td>
    </tr>
    <tr>
      <th>Degree <span class="text-muted fw-light">(Qualification of the student)</span></th>
      <td>
        {% for item in object.degree.all %}
          {{item}} {% if not forloop.last %} ,{% endif %}
        {% endfor %}
      </td>
    </tr>
    <tr>
      <th>Discipline <span class="text-muted fw-light">(Branch of study)</span></th>
      <td>
        {% for item in object.discipline.all %}
          {{item}} {% if not forloop.last %} ,{% endif %}
        {% endfor %}
      </td>
    </tr>
    <tr>
    <tr>
      <th >State <span class="text-muted fw-light">(Spoken Tutorial Test Location)</span></th>
      <td>{{object.state | display_states}}</td>
    </tr>
    <tr>
      <th >City <span class="text-muted fw-light">(Spoken Tutorial Test Location)</span></th>
      <td>{{object.city | display_cities}}</td>
    </tr>
    <tr>
      <th >Grade </th>
      <td>{{object.grade}}</td>
    </tr>
    <tr>
      <th >Activation status of the organization</th>
      <td>{{object.activation_status | display_ac_status}}</td>
    </tr>
    <tr>
      <th >Test Date Range </th>
      <td>{{object.from_date | default_if_none:''}} - {{object.to_date | default_if_none:''}}</td>
    </tr>
  </tbody>
</table>
  </div>
</div>

<a href="{% url 'update-job-detail' slug=object.slug %}" class="btn btn-warning"><i class="bi bi-pencil"></i> Edit</a>
{% endblock %}
{% block jquery %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{% endblock %}
