{% extends 'emp/base.html' %}
{% load crispy_forms_tags %}
{% block content-header %}Job List{% endblock %}
{% block css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
{% endblock %}
{% block content %}
{% for message in messages %}
    <div class="text-center alert alert-{{ message.tags }}">
                {{ message|safe }}
            </div>
        {% endfor %}
<br>
<h5>{{job}} , {{job.company.name}}</h5>
<table class="table table-striped" id="shortlisted">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
  	{% for item in object_list %}
  	<tr>
      <th scope="row">1</th>
      <td>{{item.spk_user}}</td>
      <td>{{item.spk_user.email}}</td>
      <td>
      	{% if item.status == 1 %}
      	<span style="color: orange;"><i class="far fa-clock"></i></span>
      	{% else %}
      	<span style="color: green;"><i class="far fa-check-circle"></i></span>
      	{% endif %}
      </td>
    </tr>
	{% empty %}
    <!-- <li>No jobs yet.</li> -->
	{% endfor %}
  </tbody>
</table>
{% endblock %}

{% block js %}
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script type = "text/javascript">
    $(document).ready(function(){
        $('#shortlisted').DataTable();
      });
</script>
{% endblock %}


