{% extends 'emp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load helper %}
{% block content-header %}Job List{% endblock %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<!-- <link rel="stylesheet" href="{% static 'external/Searchable-Multi-select-jQuery-Dropdown/jquery.dropdown.css' %}"> -->
<style type="text/css">
  .scrollarea {
    /*max-height: 100vh!important;*/
  overflow-y: auto;
}
.main-c {
  max-height: 100vh!important;
  overflow-y: auto;
}
.highlights{
  min-height: 100%;
}
.job-pagination a,.job-num{
  text-decoration: none;
  border: 1px solid rgba(0,0,0,0.2);
  padding:8px;
  color: #0066A0;
}
.list-group-item.active{
  background-color: #fff!important;
  border: 1px solid orange!important;
  
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  color:black!important;
}
.job-filter-form{
  border-bottom: 1px solid #0066A0;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.border-o{
  border: 1px solid orange!important;
}
.job-lst{
  
  height: 70vh;
  overflow-y: scroll!important;
  overflow-x: scroll!important;
  border-left: 1px solid rgba(0,0,0,0.2);
}
.job-details{
  border: 1px solid rgba(0,0,0,0.2);
  height: 70vh;
  overflow-y: scroll!important;
  overflow-x: scroll!important;
}
#job{
  border: 1px solid black;
  padding:2px 10px;
}
.list-group-item{
  border: 1px solid rgba(0,0,0,0.1)!important;
}
#nav-view-job{
    border-right: 5px solid #FFCC00;
    color: #0066A0;
  }
  #nav-view-job a{
    color: green!important;
    font-weight: bold;
  }
  .c-icon{
    color: #0066A0;
  }
div#cke tbody,div#cke td,div#cke tfoot,div#cke th,div#cke thead,div#cke tr{
  border:1px solid rgba(0,102,160,0.5)!important;
  padding: 6px;
}
</style>
{% endblock %}
{% block content %}
<div class="main-c">
  {% for message in messages %}
    <div class="text-center alert alert-{{ message.tags }}">
                {{ message|safe }}
            </div>
        {% endfor %}
<div class="container-fluid">
 <div class="job-pagination mt-5">
{% if is_paginated %}
<div class="d-flex justify-content-between">
  <div>
    {% if page_obj.has_previous %}
    <a href="?{% param_replace page=1 %}" >First</a>
    {% if page_obj.previous_page_number != 1 %}
      <a class="page-item" href="?{% param_replace page=page_obj.previous_page_number %}"><span aria-hidden="true">&laquo;</span></a>
    {% endif %}
  {% endif %}

  Page {{ page_obj.number }} of {{ paginator.num_pages }}

  {% if page_obj.has_next %}
    {% if page_obj.next_page_number != paginator.num_pages %}
      <a href="?{% param_replace page=page_obj.next_page_number %}"><span aria-hidden="true">&raquo;</span></a>
    {% endif %}
    <a href="?{% param_replace page=paginator.num_pages %}">Last</a>
  {% endif %}
  </div>
  <div class="job-num"><span>Jobs {{ page_obj.start_index }} — {{ page_obj.end_index }}</span></div>
</div>
{% endif %}
</div>   
  <!-- search filter  -->
  <div class="job-filter-form">
    <form method="get">
    <div class="d-flex justify-content-between">
      <div class="form-group ">
      <label>FOSS or Job Title</label><br>
      <select class="custom-single-select" id="keyword">
        <option value="">All</option>
        {% for kw in form.keyword %}
        {{ kw }}
        {% endfor %}
      </select>
    </div>
      <div class="form-group ">
        <label>Location</label><br>
        <select class="custom-single-select" id="place">
        <option value="">All</option>
        {% for p in form.place %}
        {{ p }}
        {% endfor %}
      </select>
      </div>
    <div class="form-group ">
      <label>Company</label><br>
      <select class="custom-single-select"  id="company">
        <option value="">All</option>
        {% for com in form.company %}
        {{ com }}
        {% endfor %}
      </select>
    </div>
    <div>
      <br>
      <button type="submit" class="btn btn-outline-success btn-sm" id="search-job" >
      <span><i class="bi bi-search"></i>Search</span>
    </button>
    </div>
    
    </div>
      <input type="text" id="id_place" name="place" class="d-none">
      <input type="text" id="id_keyword" name="keyword" class="d-none">
      <input type="text" id="id_company" name="company" class="d-none">
  </form>
  </div>
  
  <!-- search filter  ends-->
<div class="row">
  <!-- <div class="d-flex align-items-start"> -->
    <div class="row align-items-start">
      <div class="col-4 job-lst">
  <div class="nav  nav-pills me-3 list-group list-group-flush border-bottom scrollarea" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    {% for job in object_list %}
    {% if forloop.first %}
    <a class="nav-link list-group-item list-group-item list-group-item-action  py-3 lh-tight active " id="v-pills-home-tab" data-bs-toggle="pill" href="#job_detail_{{job.id}}"  role="tab" aria-controls="v-pills-home" aria-selected="true" >
      {% else %}
      <a class="nav-link list-group-item list-group-item list-group-item-action  py-3 lh-tight " id="v-pills-home-tab" data-bs-toggle="pill" href="#job_detail_{{job.id}}"  role="tab" aria-controls="v-pills-home" aria-selected="true"> 
    {% endif %}
            
            <div class="d-flex w-100 align-items-center justify-content-between">
          {% if job.company.logo %}
    <img class="d-block align-self-center m-2" src="{{ job.company.logo.url|default_if_none:'#' }}" alt="Card image cap" 
    style=" height: 50px;display: inline;">
    {% endif %}
          <div><strong class="mb-1">{{job.title}}</strong>
            <div class="col-10 mb-1 small">{{job.company.name}}<br>{% get_citydetails job.city_job %} , {% get_statedetails job.state_job %}</div>
          </div>
          <small><i class="bi bi-bookmark"></i></small>
        </div>
        
        </a>
        {% empty %}
            No jobs yet.
        {% endfor %}
  </div>
  </div>
  <div class="col-6 tab-content flex-fill job-details" style="border-left: 2px solid orange;">
    {% for job in object_list %}
    {% if forloop.first %}
    <div class="tab-pane fade show active mt-3" id="job_detail_{{job.id}}" role="tabpanel" aria-labelledby="v-pills-home-tab" >
    {% else %}
    <div class="tab-pane fade show mt-3" id="job_detail_{{job.id}}" role="tabpanel" aria-labelledby="v-pills-home-tab">
    {% endif %}
    {% if request.user|has_group:"MANAGER" %}
    
    <div class="alert alert-warning mt-2" role="alert">
  To notify students for the job; please copy <span class="fw-bold">JOB ID : </span> <span class="fw-bold text-decoration-underline" id="job">{{job.id}}</span> & <a href="{{grade_filter_url}}" class="alert-link text-decoration-underline" target="_blank">login here</a>. <br>
  <hr>
  <div style="display: block;">
  <input type="text" value="{{base_url}}{% url 'job-list' %}?id={{job.id}}" id="myInput" readonly style="width: 80%;">
  <span class="c-tooltip">
  <button class="btn btn-outline-primary btn-sm" onclick="myFunction()" onmouseout="outFunc()">
    <span class="c-tooltiptext" id="myTooltip">Click to copy Job URL</span>
  Copy Job URL
  </button>
</span>
</div>
</div>

{% endif %}
              <div class="d-flex">
                <div class="">
                  {% if job.company.logo %}
    <img class="d-block align-self-center m-2" src="{{ job.company.logo.url|default_if_none:'#' }}" alt="Card image cap" 
    style=" height: 50px;display: inline;">
    {% endif %}
                </div>
                <div class="flex-grow-1">
                  <p>{{job.company.name}}<br>
             <b>{{job.title}}</b> <br>
              {% get_statedetails job.state_job %} , {% get_citydetails job.city_job %}</p>
                </div>
                <div class="mt-1">
                  {% if request.user|has_group:"MANAGER" %}

          <!-- <a href="https://spoken-tutorial.org/accounts/login/?next=/software-training/student-grade-filter/?id={{job.id}}" class="btn btn-success" target="_blank"><i class="bi bi-cursor "></i> Notify</a> -->
          <a class="btn btn-warning" href="{% url 'update-job-detail' slug=job.slug %}"><i class="bi bi-pencil"></i> Edit</a>
          {% endif %}

         
          {% if request.user|is_student %}
          
          <!-- <span class="badge bg-danger " id="e_{{job.id}}" style="display: none;">Not Eligible</span><br>
                 <small class="text-muted " id="t_{{job.id}}" style="display: none;">Your profile does not meet the job requirements.
                 </small> -->
                 {% if job in reccomended_jobs  %}
             <!--  <a href="{% url 'student_profile_confirm' request.user.student.id job.id %}" class="btn btn-success" id="apply_{{job.id}}"><i class="bi bi-cursor "></i> Apply</a> -->
             <a class="btn btn-sm btn-success pre-apply " href="{% url 'student_profile_details' request.user.student.spk_usr_id job.id %}" id="apply_{{job.id}}"><i class="bi bi-cursor "></i> Apply</a>
              {% endif %} 
            {% if job in applied_jobs %}
              {% if job in in_process_jobs  %}
                <span class="badge bg-success ">In process</span>
              {% endif %}
              
              {% if job in rejected_jobs  %}
                <span class="badge bg-danger " >Not Eligible</span><br>
                 <small class="text-muted "  >Your profile does not meet the job requirements.
                 </small>
              {% endif %}

            {% endif %}
          {% endif %}
        </div>
              </div>
              <div class="row my-1">
                <div class="col">
                  <div class="card border-o">
  <div class="card-body">
    <p class="mb-0"><i class="bi bi-calendar-event c-icon"></i> Last Application Date : {{job.last_app_date | default_if_none:''}}<br>
    <i class="bi bi-clipboard-data c-icon"></i> Skills : {{job.foss | display_foss}}</p>
  </div>
</div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 ">
                  <div class="card highlights">
                    <div class="card-body">
                      <p class="card-title"><b>Job Highlights</b></p>
                      <ul class="p-0 my-0 small" style="list-style-type: none;">
                        <li>Type : {{job.job_type}}</li>
                        <li>Salary : {{job.salary_range_min | default:''}} - {{job.salary_range_max | default:''}}</li>
                        
                      </ul>
                      
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 ">
                  <div class="card highlights">
                    <div class="card-body">
                      <p class="card-title"><b>Company</b></p>
                      <ul class="p-0 my-0 small" style="list-style-type: none;">
                        <li>Domain : {{job.company.domain}}</li>
                        <li>Employees : {{job.company.company_size | get_employees}}</li>
                        <li>Website : <a class="c-link" href="{{job.company.website}}" target="_blank">{{job.company.website}}</a></li>
                      </ul>
                      
                    </div>
                  </div>
                </div>
                <div class="col-md-12 my-2">
                  <ul class="list-group" style="border: 1px solid #ffc107;">
                    <li class="list-group-item list-group-item-warning d-flex justify-content-between align-items-start">
                      <div class=" me-auto">
                        <div class="fw-bold">Eligibility Criteria</div>
                      </div>
                        {% if job in non_eligible_jobs  %}
                        <span class="badge bg-danger ">Not Eligible</span>
                      {% endif %}
                    </li>
                    
                    <li class="list-group-item">Spoken Tutorial Test Grade should be <b>greater than {{job.grade}}</b> in one of the following FOSSes :<br>{{job.foss | display_foss}}<hr>
                      {% if job.state %}<span><b>State : </b>{{job.state | display_states}}</span><br>{% endif %}
                      {% if job.city %}<span><b>City : </b>{{job.city | display_cities}}</span><br>{% endif %}
                      {% if job.institute_type %}<span><b>Institution Type : </b>{{job.institute_type | display_institute}}</span><br>{% endif %}
                      {% if job.degree.all %}<span><b>Degree : </b>
                        {% for item in job.degree.all %}
                        {{item}} {% if not forloop.last %} ,{% endif %}
                        {% endfor %}</span><br>{% endif %}
                      {% if job.discipline.all %}<span><b>Discipline : </b>{% for item in job.discipline.all %}
                        {{item}} {% if not forloop.last %} ,{% endif %}
                      {% endfor %}</span><br>{% endif %}
                      {% if job.from_date or  job.to_date %}<span><b>Test Period : </b>{{job.from_date | default_if_none:''}} - {{job.to_date | default_if_none:''}}</span><br>{% endif %}
                    </li>
                  </ul>
                </div>
              </div>

              
              <div class="row">
                <div class="col">
                  <p><b>Description</b></p>
                  <p>
                    <div id="cke">
                      {% autoescape off %} {{job.description}} {% endautoescape %}
                    </div>
                    </p>
              <p><b>Requirements</b></p>
              <p>
                <div id="cke">
                  {% autoescape off %} {{job.requirements}} {% endautoescape %}
                </div>
              </p>
              <p><b>Key Job Responsibilities</b></p>
              <p>
                <div id="cke">
                  {% autoescape off %} {{job.key_job_responsibilities}} {% endautoescape %}
                </div>
              </p>
                </div>
                
              </div>
            </div>
        {% empty %}
            No jobs yet.
        {% endfor %}
  </div>
</div>
  
</div>

       
    
</div>

</div>
{% endblock %}
{% block jquery %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type="text/javascript">
  $('#search-job').on('click', function() {
    // get the location
    
    keyword = $('#keyword').find(':selected').text();
    place = $('#place').find(':selected').text();
    company = $('#company').find(':selected').text();
    console.log( place);
    console.log( keyword);
    console.log( company);
    if (keyword=='All') {
      $('#id_keyword').val('');
    }else{
      $('#id_keyword').val(keyword);
    }
    if (place=='All') {
      $('#id_place').val('');
    }else{
      $('#id_place').val(place);
    }
    if (company=='All') {
      $('#id_company').val('');
    }else{
      $('#id_company').val(company);
    }
  });
  $( document ).ready(function() {
   $('.custom-single-select').select2();
   $('.demo').dropdown({});
   
});
</script>
{% endblock %}



