{% extends 'emp/base.html' %}
{% load static %}
{% load helper %}
{% load crispy_forms_tags %}
{% block css %}
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script> -->
<!-- <script  src="{% static '/external/Searchable-Multi-select-jQuery-Dropdown/jquery.dropdown.js' %}" ></script> -->
<!-- <link rel="stylesheet" href="{% static '/external/Searchable-Multi-select-jQuery-Dropdown/jquery.dropdown.css' %}"> -->
<style type="text/css">
	

</style>
{% endblock %}
{% block content-header %}Add Job Details{% endblock %}
{% block content %}
{% include "emp/page_header.html" with title="Update Job" icon="<i class='bi bi-briefcase-fill'></i>" %}
{% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
     {% endfor %}
<form method="POST" >
  {% csrf_token %}
        <div class="row">
          <div class="col-12 mb-3">
            {{ form.title | as_crispy_field }}
          </div>
          <div class="col-12 mb-3">
            {{ form.designation | as_crispy_field }}
          </div>
          <div class="col-md-6 mb-3">
            {{ form.company | as_crispy_field }}
          </div>
          <div class="col-md-6 mb-3">
            {{ form.domain | as_crispy_field }}
          </div>
          <div class="col-md-6 mb-3 d-none">
            {{ form.state_job | as_crispy_field }}
          </div>
          <div class="col-md-6 mb-3 d-none">
            {{ form.city_job | as_crispy_field }}
          </div>
          <div class="col-md-6 mb-3 d-none">
            {{ form.skills | as_crispy_field }}
          </div>
          <div class="col-md-6 mb-3">
                <label for="state">State* <span class="text-muted">(Office Location)</span></label>
                <select class="form-control select-state" id="select-state">
                	<option value="{{job.state_job}}">{{job.state_job}}</option>
                  {% for s in state %} 
                    <option value="{{s.id}}">{{ s }}</option>
                    {% endfor %}
                </select>
          </div>
          <div class="col-md-6 mb-3">
                    <label for="city">City* <span class="text-muted">(Office Location)</span></label>
                    <select class="form-control select-city" id="select-city" disabled>
                    	<option value="{{job.city_job}}">{{ job.city_job }}</option>
                      {% for c in city %} 
                        <option value="{{c.id}}">{{ c }}</option>
                        {% endfor %}
                    </select>
          </div>
          <div class="col-md-3 mb-3">
            {{ form.job_type | as_crispy_field }}
         </div>
         <div class="col-md-3 mb-3">
           <label for="id_shift_time" class="form-label">Shift Time </label>
            <span>
              <input class="form-check-input" type="checkbox" value="" id="shiftChecked" {% if not form.shift_time %}checked{% endif %}>
              <label class="form-check-label" for="shiftChecked">Not Specified</label>
            </span>
            <input name="shift_time" type="text" class="form-control" id="id_shift_time" value="{{job.shift_time}}">
         </div>
          <!-- <div class="col-md-3 mb-3">
            {{ form.shift_time | as_crispy_field }}
         </div> -->
          <div class="col-md-2 mb-3">
            {{ form.salary_range_min | as_crispy_field }}
         </div>
          <div class="col-md-2 mb-3" >
            {{ form.salary_range_max | as_crispy_field }}
         </div>
         <div class="col-md-2 mb-3">
            {{ form.gender | as_crispy_field }}
         </div>

          <div class="col-12 mb-3">
            {{ form.description | safe }}
          </div>
          <div class="col-12 mb-3">
            {{ form.key_job_responsibilities | as_crispy_field }}
          </div>
          <div class="col-12 mb-3">
            {{ form.requirements | as_crispy_field }}
          </div>
          <div class="col-md-4 form-group">
            {{ form.last_app_date | as_crispy_field }}
          </div>
          <div class="col-md-4 mb-3">
            {{ form.rating | as_crispy_field }}
          </div>
          <div class="col-md-4 mb-3">
            {{ form.status | as_crispy_field }}
          </div> 
           
        </div>
        
    <!-- Custom field widgets for Filter -->
    <div class="row" hidden>
          <input type="text" name="foss" id="id_foss" value="{{job.foss}}">
          <input type="text" name="institute_type" id="id_institute_type" value="{{job.institute_type}}">
          <input type="text" name="state" id="id_state" value="{{job.state}}">
          <input type="text" name="city" id="id_city" value="{{job.city}}">
        </div>
    <div class="filter-header">
      {% include "emp/page_header.html" with title="Student Eligibility Criteria" icon="<i class='bi bi-card-list'></i>" %}
    </div>
    <div class="row">
      <div class="col-lg-6">
         <div class="custom-multi-select form-group mb-3 foss_select" >
          <label>{{filter_form.foss.label }}</label>
          <select class="form-control" id="foss-select" multiple>
          {% for foss in filter_form.foss %} 
          {{ foss }}
          {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-lg-3 form-group mb-3">
        {{ filter_form.grade | as_crispy_field }}
      </div>
      
      <div class="col-lg-6">
        <!-- <div class="custom-multi-select form-group mb-3 state_select"> -->
        <div class="form-group mb-3 state_select">
        <label>{{filter_form.state.label }} </label>
        <select class=" form-control" id="state-select" multiple="multiple">
        {% for foss in filter_form.state %} 
        {{ foss }}
        {% endfor %}
        </select>
      </div>
      </div>
      <div class="col-lg-6">
        <!-- <div class="custom-multi-select form-group mb-3 city_select"> -->
        <div class="form-group mb-3 city_select">
          <label>{{filter_form.city.label }}</label>
          <select class=" form-control" id="city-select" multiple="multiple">
          {% for foss in filter_form.city %} 
          {{ foss }}
          {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="custom-multi-select form-group mb-3 insti_select">
          <label>{{filter_form.institution_type.label }}</label>
          <select class="form-control" id="insti-select" multiple="multiple">
          {% for insti in filter_form.institution_type %} 
          1{{ insti }}
          {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-lg-3 form-group mb-3">
        {{ form.degree | as_crispy_field }}
      </div>
      <div class="col-lg-3 form-group mb-3">
        {{ form.discipline | as_crispy_field }}
      </div>
      <div class="col-lg-3 form-group mb-3">
        {{ form.activation_status | as_crispy_field }}
      </div>
      <div class="col-lg-3 form-group mb-3">
        {{ form.from_date | as_crispy_field }}
      </div>
      <div class="col-lg-3 form-group mb-3">
        {{ form.to_date | as_crispy_field }}
      </div>
    </div>
    <!-- Custom field widgets for Filter ends-->
    <input type="submit" value="Update" id="job-submit" class="btn btn-warning">
</form>

{% endblock %}
{% block js %}

<script type="text/javascript">
  var shift_time ;
  $("#shiftChecked").change(function() {
    if(this.checked) {
        $("#id_shift_time").prop("readonly", true);
        $("#id_shift_time").val('');
    }else{
        $("#id_shift_time").prop("readonly", false);
        $("#id_shift_time").val(shift_time);
    }
  });
  $( document ).ready(function() {
    shift_time = $("#id_shift_time").val();
    state_val= $('#id_state_job').val();
    $("select#select-state  > option[value=" + state_val + "]").prop("selected",true);
    city_val = $('#id_city_job').val();
    $("select#select-city  > option[value=" + city_val + "]").prop("selected",true);
    // get pre filled value of multiselect foss filter criteria
  var f = $('#id_foss').val();
  if (f){
      f = f.split(',');
      for (i = 0; i < f.length ; i++) {
        $("div.foss_select > select > option[value=" + f[i] + "]").prop("selected",true);
      }
  }
  var insti = $('#id_institute_type').val();
  if (insti){
      insti = insti.split(",");
      for (i = 0; i < insti.length; i++) {
        $("div.insti_select > select > option[value=" + insti[i] + "]").prop("selected",true);
      }
  }
  var s = $('#id_state').val();
  if (s){
      s = s.split(",")
      for (i = 0; i < s.length; i++) {
        $("div.state_select > select > option[value=" + s[i] + "]").prop("selected",true);
      }
  }
  var c = $('#id_city').val();
  if (c){
      c = c.split(",");
      for (i = 0; i < c.length; i++) {
        $("div.city_select > select > option[value=" + c[i] + "]").prop("selected",true);
      }
  }
  // pre filled values ends
   // $('.custom-multi-select').dropdown({multipleMode:'label'});
   $("#job-submit").click(function() {
   
  var foss = $('#foss-select').val(); 
  var insti_type = $('#insti-select').val() ? $('#insti-select').val().toString() : ''; 
  var states = $('#state-select').val() ? $('#state-select').val().toString() : ''; //filter states
  var cities = $('#city-select').val() ? $('#city-select').val().toString() : ''; //filter cities
  
  // $('#id_foss').val(foss.toString());
  if(foss){
    $('#id_foss').val(foss.toString());
  }else{
    $('#id_foss').val('');
  }
  $('#id_institute_type').val(insti_type);
  // if (insti_type) {$('#id_institute_type').val(insti_type);}
  $('#id_state').val(states);
  $('#id_city').val(cities);
  // if (states) {$('#id_state').val(states);}
  // if (cities) {$('#id_city').val(cities);}

  state = $('#select-state').val();
  city = $('#select-city').val();
  
  $('#id_state_job').val(parseInt(state));
  $('#id_city_job').val(parseInt(city));
  
});
   
});
</script>
{% endblock %}
