<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Student Recommendation System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  	{% if request.user.is_anonymous %}
      <a href="{% url 'login' %}" class="ml-auto"><button class="btn btn-outline-success my-2 my-sm-0">Login</button></a>
    {% else %}
      <a href="{% url 'logout' %}" class="ml-auto"><button class="btn btn-outline-success my-2 my-sm-0">Logout</button></a>
    {% endif %}
  </div>
</nav>      
</header>