{% extends 'emp/base.html' %}
{% load static %}
{% load helper %}
{% block content-header %}Job List{% endblock %}
{% block css %}
{% endblock %}

{% block content %}
{% include "emp/page_header.html" with title="Students registered in JRS" icon="<i class='bi bi-list-check'></i>" %}
<div class="main-c">
  {% for message in messages %}
    <div class="text-center alert alert-{{ message.tags }}">
                {{ message|safe }}
            </div>
        {% endfor %}
<div class="container-fluid">
 <div class="job-pagination mt-5">
{% if is_paginated %}
<div class="d-flex justify-content-between">
  <div>
    {% if page_obj.has_previous %}
    <a href="?{% param_replace page=1 %}" >First</a>
    {% if page_obj.previous_page_number != 1 %}
      <a class="page-item" href="?{% param_replace page=page_obj.previous_page_number %}"><span aria-hidden="true">&laquo;</span></a>
    {% endif %}
  {% endif %}

  Page {{ page_obj.number }} of {{ paginator.num_pages }}

  {% if page_obj.has_next %}
    {% if page_obj.next_page_number != paginator.num_pages %}
      <a href="?{% param_replace page=page_obj.next_page_number %}"><span aria-hidden="true">&raquo;</span></a>
    {% endif %}
    <a href="?{% param_replace page=paginator.num_pages %}">Last</a>
  {% endif %}
  </div>
  <div class="job-num"><span>Jobs {{ page_obj.start_index }} — {{ page_obj.end_index }}</span></div>
</div>
{% endif %}
</div>   
<div class="row">
    <div class="col-12">
        {% if object_list %}
<table class="paleblue table table-striped table-hover table-bordered" id="tb-students">
  <thead>
  <tr>
    <th>Sr. No</th>
    <th>User Id (Spoken)</th>
    <th>Full Name</th>
    <th>Email</th>
    <th>Profile Update Date</th>
    <th>Notified on:</th>
  </tr>  
  </thead>
  <tbody>
  {% for student in object_list %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{student.spk_usr_id}}</td>
    <td><a href="{% url 'student_profile_details' student.spk_usr_id 0 %}">{{student.user.get_full_name | title}}</a></td>
    <td>{{ student.user.email }}</td>
    <td>{{ student.date_updated }}</td>
    <td>
      {% if student.notified_date %}
        {{student.notified_date}}
      {% endif %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
  
</table>
{% else %}
<div>No companies ti display</div>
{% endif %}

    </div>

</div>
  


</div>
{% endblock %}
{% block jquery %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type="text/javascript">
  $( document ).ready(function() {
    $('#tb-students').DataTable({
        "pageLength": 50
    });
   
});
</script>
{% endblock %}