{% extends 'emp/base.html' %}
{% load helper %}
{% block css %}
<style type="text/css">
  body{
    background: #EAEAEA;
  }
  .c-name{
    color: #0066A0;
  }
  h4{
    font-size: 1.2rem;
  }
  .row{
    background: #fff;
  }
  .c-border{
    border: 1px solid rgba(0,0,0,0.1);
  }
  .title{
    font-size: 1.2rem;
  }
  .rec-wrap{
    border: 1px solid rgba(5,76,119,0.3);
    border-radius: 6px;
  }
  .pre-apply,.post-apply{
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
  }
  
</style>
{% endblock %}
{% block content %}

<br><br>
<!--display 5 rated Company-->
<div class="d-flex justify-content-between">
  <div class="text-center w-100">
    <span class="text-decoration-line-through">
      <span style="color: #fff;" class="me-2">------------ </span></span>
      <b class="title">In collaboration with</b>
      <span class="text-decoration-line-through">
      <span style="color: #fff;" class="me-2">------------ </span></span>
  </div>
    
    <!-- <button type="button" class="btn btn-info">View all companies</button> -->
</div>
<br>
<div class="row">
{% for company in company_display %}
{% if company.logo %}
<div class="col-lg-2 col-sm-6">  
  <div class="border d-flex flex-column p-1">
    <img class="d-block align-self-center m-2" src="{{ company.logo.url|default_if_none:'#' }}" alt="Card image cap" 
    style=" height: 60px;display: inline;"><br>
    <span class="c-name align-self-center"><b>{{company.name}}</b></span>
    <span class="text-muted align-self-center">vacancies : 10</span> <!-- to do  -->
  </div>
</div>
{% endif %}
{% endfor %}
</div>
<section>

<br>
<div class="row rec-wrap">
  <div class="col-12 ">
    <div class="text-center py-2">
    <b class="title c-name">Recommended Jobs</b>
  </div>
  </div>
    
      {% if rec_jobs %}
    {% for job in rec_jobs %}
    <div class="col-lg-3 col-sm-12 py-3">  
      <div class="card" style="width: 18rem;height: 100%;">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            {% if job.company.logo %}
            <img class="card-img-top me-2" src="{{ job.company.logo.url|default_if_none:'#' }}" alt="Card image cap" style="width: auto;height: 60px;">
            {% endif %}
            <div class="me-auto">
           <span class="card-title fw-bold">{{job.title}}</span><br>
            <small style="color: rgba(0,0,0,0.6)">{% get_citydetails job.city_job %} , {% get_statedetails job.state_job %}
          </small>
            </div>
          </div>
          <p class="card-text mb-5">{{job.description | slice:":255"}}...</p>
          <a href="#" class="btn btn-info post-apply disabled" style="display: none;" id="applied_{{job.id}}"><i class="fas fa-check mr-3"></i>Applied</a>
          <a class="btn btn-info pre-apply " href="{% url 'student_profile_confirm' pk=request.user.student.id job=job.id %}" id="apply_{{job.id}}">Apply</a>
        </div>
        </div>
    </div>
    {% endfor %}
    
{% else %}
<div class="col-lg-4 col-sm-12 py-3">  
<p>No Recommended Jobs Yet.</p>
</div> 
{% endif %}    
</div>

</section>
<section>

<br>
<div class="row">
  <div class="col-4 py-3">
    <div>
      <ul class="list-group ">
        <li class="list-group-item  list-group-item-success d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">APPLIED JOBS</div>
        </div>
      </li>
{% if applied_jobs %}
  {% for item in applied_jobs %}
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">{{item.job.title}}</div>
      {{item.job.company.name}}
    </div>
    <span class="badge bg-{{item.status | format_status}} rounded-pill">
      {{item.status | status_value }}
    </span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">

      <div class="fw-bold"><a>View All Applications</a></div>
      
    </div>
    
  </li>

  {% endfor %}
{% else %}
<li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div>No Jobs Posted Yet. </div>
      
    </div>
    
  </li>

{% endif %}
</ul>
</div>
    
  </div>

  {% if awaiting_jobs %}
    {% for job in awaiting_jobs %}
    <div class="col-lg-3 col-sm-12 py-3">  
      <div class="card" style="width: 18rem;height: 100%;">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            {% if job.company.logo %}
            <img class="card-img-top me-2" src="{{ job.company.logo.url|default_if_none:'#' }}" alt="Card image cap" style="width: auto;height: 60px;">
            {% endif %}
            <div class="me-auto">
           <span class="card-title fw-bold">{{job.title}}</span><br>
            <small style="color: rgba(0,0,0,0.6)">{% get_citydetails job.city_job %} , {% get_statedetails job.state_job %}
          </small>
            </div>
          </div>
          <p class="card-text mb-5">{{job.description | slice:":255"}}...</p>
          
          
        </div>

        </div>
    </div>
    {% endfor %}
    
{% else %}
<div class="col-lg-4 col-sm-12 py-3">  
<p>No New Jobs Posted Yet. Please Check Later</p>
</div> 
{% endif %}

</div>  
</section>
{% endblock %}
{% block jquery %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{% endblock %}
{% block js %}
<script type = "text/javascript">
  function hide_reject_labels(){
    $('.rejected').hide();
  }
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
      hide_reject_labels();
      });
</script>
{% endblock %}
