
{% extends 'emp/base.html' %}
{% load helper %}
{% load crispy_forms_tags %}
{% block css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}
<div class= 'filters ' >
<form action="" method="post" class='form-horizontal'>
          {% csrf_token %}
  <div class="form-row">
    <div class="col-lg-3 col-sm-6">
      {{ form.foss | as_crispy_field }}
    </div>
    <div class="col-lg-3 col-sm-6">
      {{ form.institution_type | as_crispy_field }}
    </div>
  <div class="col-lg-3 col-sm-6">
      {{ form.state | as_crispy_field }}
  </div>
  <div class="col-lg-3 col-sm-6">
      {{ form.city | as_crispy_field }}
  </div>
  <div class="col-sm-3">
      {{ form.grade | as_crispy_field }}
  </div>
  <div class="col-sm-3">
      {{ form.activation_status | as_crispy_field }}
  </div>
  <div class="col-sm-3">
      {{ form.from_date | as_crispy_field }}
  </div>
  <div class="col-sm-3">
      {{ form.to_date | as_crispy_field }}
  </div>
  <div class="col-sm-6 form-group">
      <input class="btn btn-success" type="submit" value="Filter" />
  </div>
  </div>
        </form>
</div>

<div>

</div>
<div>
  <form method="post">
    <input type="text" id="user_ids" name="user_ids" value={{result.filter_user_id}} ><br><br>
    <input type="text" id="job_id" name="job_id"><br><br>
    <button type="button" id="shortlist" class="btn btn-primary">Notify Student</button>
  </form>
</div>

  <div class="tab-content">
    <div class="tab-pane active" id="pending">
      {% if result %}
        <table id="id_student_grade_table" class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                  <th>#</th>
                  <th>Firstname</th>
                  <th>Lastname</th>
                  <th>Email</th>
                  <th>Grade</th>
                  <th>Date</th>
                  <th>Institution</th>
                  <th>Institution Type</th>
                  <th>Foss</th>
                  <th>Organiser</th>
                  <th>State</th>
                  <th>City</th>
                </tr>
              </thead>
              <tbody>
          {% for ta in result.test_attendance %}
            <tr>
              <td>{{ forloop.counter }}
              <td>
              {% if ta.student.user.first_name %}{{ ta.student.user.first_name }}{%else%}{{ta.mdluser_id|get_grade_mdluser_first_name}}{%endif%}

 			  </td>
              <td>{% if ta.student.user.last_name %}{{ ta.student.user.last_name }}{%else%}{{ta.mdluser_id|get_grade_mdluser_last_name}}{%endif%}</td>

              <td>{% if ta.student.user.email %}{{ ta.student.user.email }}{%else%}{{ta.mdluser_id|get_grade_mdluser_email}}{%endif%}</td>

              <td>{{ result.mdl_user_grade|get_grade_mdluser:ta}} </td>
              <td>{{ta.created}}</td>
              <td>{{ ta.test.academic.institution_name }}</td>
              <td>{{ ta.test.academic.institution_type.name }}</td>
              <td>{{ ta.test.foss.foss }}</td>
              <td>{{ ta.test.organiser.user.first_name }} {{ ta.test.organiser.user.last_name }}</td>
              <td>{{ ta.test.academic.state.name }}</td>
              <td>{{ ta.test.academic.city.name }}</td>
            </tr>
          {% endfor %}
        </tbody>
        </table>
      {% else %}
        <p class='no-record'>No record found!</p>
      {% endif %}
    </div>
  </div>
</form>
{% endblock %}
{% block js %}
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script type = "text/javascript">
    $(document).ready(function(){
        $('#id_student_grade_table').DataTable();

	$("#shortlist").click(function(){
    user_ids = $('#user_ids').val() ;
		job_id = $('#job_id').val() ;
    $.ajax({
      url: "/shortlist",
      data: {
        'user_ids' : user_ids,
        'job_id' : job_id
      },
      dataType: 'json',
      success:function(data){
        var messages = data.msg;
    }});
    	});
    	});
</script>
{% endblock %}

