{% extends 'emp/base.html' %}
{% load static %}
{% load helper %}
{% load crispy_forms_tags %}
{% block css %}
<!-- <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" /> -->
<!-- <link rel="stylesheet" type="text/css" href="{% static '/external/Searchable-Multi-select-jQuery-Dropdown/jquery.dropdown.css' %}"> -->
<style type="text/css">
	.select2-container{
		width: 100%!important;
	}
	.select2-container--default .select2-selection--multiple{
		border: none!important;
		border: 1px solid #ced4da!important;
	}
 
  label{
    color: #0066A0;
    font-weight: bold;
  }
  #s-profile{
    border-right: 5px solid #FFCC00;
    color: #0066A0;
  }
  #s-profile a{
    color: green!important;
    font-weight: bold;
  }
  .email-feedback{
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: #dc3545;
  }
</style>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    {% include "emp/page_header.html" with title="Student Profile" icon="<i class='bi bi-person-square'></i>" %}
    {% for message in messages %}
         <div class="text-center alert {{ message.tags }}">
             {{ message|safe }}
         </div>
{% endfor %}
  </div>
  
</div>
<div class="alert alert-warning alert-dismissible fade show col-md-8" role="alert" style="display: none;" id="alert-project">
  <span>Only 5 projects can be added</span>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% if confirm %}
<p id="disable-form" class="d-none">diable form</p>
<div class="row d-toast" style="display: none;">
  <div class="col-sm-8">
    <div class="toast w-100" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    {% if job.company.logo %}
    <img src="{{ job.company.logo.url|default_if_none:'#' }}" class="rounded mr-2" style="width: auto;height: 40px;">
    {% endif %}
    
    <strong class="me-auto"><span class="mx-3">{{job.company.name}}</span></strong>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    <span style="font-size: 1rem;margin-right: 1rem;"><i class="bi bi-check-all"></i></span>Your application is successfully submitted for <b>{{job.title}}</b>
  </div>
</div>
  </div>
  
</div>

<div class="">
  <p><b>Below profile details will be sent to the company.</b></p>
  <div class="row">
    <div class="col-md-4">
      <span><button type="submit" form="form-job-app" class="btn btn-outline-secondary" type="submit" id="confirm_apply">Confirm & Apply</button></span>
    </div>
    <div class="col-md-4">
      <!-- <span><button type="button" class="btn btn-outline-secondary" id="modify">Modify</button></span> -->
      <span><a target="_blank" class="btn btn-outline-secondary" href="{% url 'student_profile' pk=request.user.student.id %}">Modify</a></span>
    </div>
    <div class="col-md-8"><hr></div>
    
  </div>
  <div class="d-none">
    <form id="form-job-app" action="{% url 'add_student_job_status' %}" method="POST">
      {% csrf_token %}
    <input type="number" name="job_id" required="" id="id_job_id" value="{{job.id}}">
    <input type="number" name="student" required="" id="id_student" value="{{request.user.student.id}}">
    <input type="number" name="spk_user_id" required="" id="id_spk_user_id" value="{{request.user.student.spk_usr_id}}">
    
    </form> 
  </div>
  
  <div class="row">
    <!-- <div class="col-md-6" id="confirm"><button id="confirm-btn" type="button" class="btn btn-outline-success" onclick="apply_for_job('{{request.user.student.spk_usr_id}}','{{job_id}}','{{request.user.student.id}}');" >Confirm & Apply</button></div> -->
    <!-- <div class="col-md-6" id="confirm"><a id="confirm-btn" type="button" class="btn btn-outline-success" 
      href="{% url 'add_student_job_status' %}" 
     >Confirm & Apply</a></div> -->

    <!-- <div class="col-md-6" id="modify"><button type="button" class="btn btn-outline-info" >Modify</button></div> -->
  </div>
</div>
{% endif %}
<form class="py-1">
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="input-group">
          <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
          <input type="text" class="form-control" value="{{student.user.get_full_name | default_if_none:'' | format_char}}" readonly>
        </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="input-group">
          <div class="input-group-text"><i class="bi bi-envelope"></i></i></div>
          <input type="text" class="form-control" value="{{student.user.email | default_if_none:''}}" readonly>
        </div>
    </div>
  </div>
</form>
<div class="row">
  <div class="col-md-8">
    <table class="table table-bordered ">
  <thead>
    <tr>
      <th scope="col" class="table-warning" colspan="3">Spoken Tutorial Test Scores</th>
    </tr>
  </thead>
  <tbody>
    {% if scores %}
    <tr>
     <td><b>Foss</b></td>
     <td><b>Grade</b></td>
     <td><b>Test Date</b></td>
   </tr>
    
      {% for item in scores %}
   <tr>
     <td>{{item.name}}</td>
     <td>{{item.grade}}</td>
     <td>{{item.updated}}</td>
   </tr>
   {% endfor %}
   {% else %}
   <tr>
    <th>No Data Available.</th>
   </tr>
    {% endif %}
  </tbody>
</table>

{% if request.user|has_group:"STUDENT_ILW" %}
<table class="table table-bordered ">
  <thead>
    <tr>
      <th scope="col" class="table-warning" colspan="3">ILW Test Scores</th>
    </tr>
  </thead>
  <tbody>
    {% if ilw_scores %}
    <tr>
     <td><b>Foss</b></td>
     <td><b>Grade</b></td>
     <td><b>Test Date</b></td>
   </tr>
    
      {% for item in ilw_scores %}
   <tr>
     <td>{{item.name}}</td>
     <td>{{item.grade}}</td>
     <td>{{item.mdl.updated}}</td>
   </tr>
   {% endfor %}
   {% else %}
   <tr>
    <th>No Data Available.</th>
   </tr>
    {% endif %}
  </tbody>
</table>
{% endif %}
  </div>
</div>
<form method="post" id="form-student" enctype="multipart/form-data" action="{% url 'student_profile' request.user.student.id %}">
    {% csrf_token %}
	<div class="row">
		<input type="hidden" id="skills_m" name="skills_m" >
    <div class="col-sm-4 mb-3">
          {{ form.phone | as_crispy_field }}
      </div>
      <div class="col-sm-4 mb-3">
          {{ form.alternate_email | as_crispy_field }}
      </div>
      <div class="col-md-8 mb-3">
        <label>Address</label>
        <div class="input-group">
          <div class="input-group-text"><i class="bi bi-house"></i></div>
          <input type="text" class="form-control" value="{{student.address | default_if_none:'' }}" name="address">
        </div>
      </div>
    	<div class="col-sm-8 mb-3">
      		{{ form.about | as_crispy_field }}
    	</div>
      <div class="col-sm-8">
        <hr>
        <div class="alert alert-info" role="alert">
        <b>Project Work & Experience (Maximum 5 projects can be added)</b>
        </div>
        <span class="btn btn-info mb-2" id="btn-add-project"><span><i class="bi bi-plus-circle"></i> Add Project</span>    </span>
        <div class="all_projects">
          <!-- {{form.projects}} -->
          {% for project in projects %}
            <div class="wrapper mb-3">
              <span>
                <div class="remove mb-1"><i class="bi bi-dash-circle"></i> Remove <b>Project # {{ forloop.counter }}</b></div>
                <input class="textinput textInput form-control input-url border-info" placeholder="Add Project URL" name="pr_url" type="text" value="{{project.url}}">
              </span>
              <div class="mt-1">
                <textarea class="textarea form-control mb-3 text-desc" placeholder="Add Project Description (Max 300 characters allowed)" name="pr_desc" maxlength="300" cols="80" rows="10" >{{project.desc}}</textarea>
              </div>
            </div>
          {% endfor %}
          <!-- <div class="wrapper">
            <div class="url"></div>
            <div class="desc"></div>
          </div> -->
          
        </div>
      </div>
    	
      <div class="col-sm-8 mb-3">
          {{ form.certifications | as_crispy_field }}
      </div>
      <div class="col-sm-4 mb-3">
      </div>
    	<div class="col-sm-4 mb-3">
      		{{ form.linkedin | as_crispy_field }}
    	</div>
		<div class="col-sm-4 mb-3">
      		{{ form.github | as_crispy_field }}
    	</div>
    	<div class="col-sm-6 mb-3">
        <span>Upload only .pdf file</span>
      	{{ form.cover_letter | as_crispy_field }}
    	</div>
      <div class="col-sm-2 mb-3">
        {% if form.cover_letter.value  %} <a class="btn btn-warning" href="{% url 'document_view' pk=request.user.id %}?type=cover_letter" target="_blank">View Cover Letter</a> {% endif %}
      </div>
      <div class="col-sm-6 mb-3">
        <span>Upload only .pdf file</span>
        {{ form.resume | as_crispy_field }}
      </div>
      <div class="col-sm-2 mb-3">
        {% if form.resume.value %} <a class="btn btn-warning" href="{% url 'document_view' pk=request.user.id %}?type=resume" target="_blank">View Resume</a> {% endif %}
      </div>
    	<!-- Add Education 1 -->
    	<div class="col-sm-4 mb-3"></div>
      </div>
      <div class="col-md-8">
        <div class="row border border-success mb-3 rounded p-2">
          <div class="col-12 ">
          <p class="fs-6 fw-bold">Add Current Education Details : </p>
        </div>
        <div class="col-sm-6 mb-3">
          <label for="state">Degree<sup>*</sup></label>
          <select name="degree" class="form-select" id="id_degree" required>
            {% if not current_edu %}
            <option value="" selected="">---------</option>
            {% endif %}
            {% for degree in degrees %} 
              <option value="{{degree.id}}" {% if degree.name == current_edu.degree.name %} selected{% endif %}>{{ degree.name }}</option>
              {% endfor %}
          </select>
      </div>
      <div class="col-sm-6 mb-3">
        <label for="state">Academic Discipline<sup>*</sup></label>
          <select name="acad_discipline" class="form-select" id="id_acad_discipline" required>
            {% if not current_edu %}
            <option value="" selected="">---------</option>
            {% endif %}
            {% for d in acad_disciplines %} 
              <option value="{{d.id}}" {% if d.name == current_edu.acad_discipline.name %} selected{% endif %}>{{ d.name }}</option>
              {% endfor %}
          </select>
      </div>
      <div class="col-md-12 mb-3">
        <label for="current_state">State<sup>*</sup></label>
         <select class="form-select select-state" aria-label="Default select example" id="current_state">
          
            <option value="" selected="">---------</option>
            {% for state in states %}
          <option value="{{state.id}}">{{state.name}}</option>
          {% endfor %}
           
            
           
          
        </select>
      </div>
      <div class="col-md-12 mb-3">
        <label for="current_city">City<sup>*</sup></label>
         <select class="form-select select-city" aria-label="Default select example" id="current_city">
          
            <option value="" selected="">---------</option>
            
            {% for city in cities %}
          <option value="{{city.id}}">{{city.name}}</option>
          {% endfor %}
           
          
        </select>
      </div>
      <div class="col-md-12 mb-3">
          <label for="state">Institute<sup>*</sup></label><small class="fw-lighter"> (Loading colleges may take some time. Please wait.)</small>
          <select class="form-select select-insti" name="institute" id="current-insti" required>
            {% if not current_edu %}
            <option value="" selected="">---------</option>
            {% else %}
            <option value="{{current_edu.institute}}" selected>{{current_edu.institute | get_institute_name}}</option>
            {% endif %}
            

            
          </select>
      </div>
      <div class="col-sm-4 mb-3">
        {{ education_form.start_year | as_crispy_field }}
      </div>
      <div class="col-sm-4 mb-3">
        {{ education_form.end_year | as_crispy_field }}
      </div>
      <div class="col-sm-4 mb-3">
        {{ education_form.gpa | as_crispy_field }}
      </div>
      <div class="col-sm-3 mb-3 d-none">
        {{ education_form.order | as_crispy_field }}
      </div>
        </div>
        <div class="row border border-warning rounded p-2 mb-3">
        
        
      
      <!-- <div class="col-sm-8 d-none" >
        {{ education_form.institute | as_crispy_field }}
      </div> -->
      
      
      <div class="col-12 mb-3">
        <div class="py-3">
      <div class="d-flex mb-3">
      <button type="button" class="btn btn-outline-dark" id="btn-prev-edu">Add Previous Education Details</button>
      <button type="button" class="btn btn-outline-dark" id="btn-prev-edu-cancel" style="display: none;">Cancel</button>
    </div>
      <div class="row" id="past_edu" style="display: none;">
        <div class="col-12">
          <p class="fs-6 fw-bold">Add Past Education Details Here</p>
        </div>
        <div class="col-sm-6 mb-3">
        <label for="state">Degree</label>
          <select class="form-select" name="p_degree">

            {% if not past_edu.degree %}
            <option value="" >---------</option>
            {% endif %}
            {% for degree in degrees %} 
              <option value="{{degree.id}}" {% if degree.name == past_edu.degree.name %} selected{% endif %}>{{ degree.name }}</option>
              {% endfor %}
          </select>
      </div>
      <div class="col-sm-6 mb-3">
        <label for="state">Academic Discipline</label>
          <select class="form-select" name="p_discipline">
            {% if not past_edu.acad_discipline %}
            <option value="" selected="">---------</option>
            {% endif %}
            {% for d in acad_disciplines %} 
              <option value="{{d.id}}" {% if d.name == past_edu.acad_discipline.name %} selected{% endif %}>{{ d.name }}</option>
              {% endfor %}
          </select>
      </div>
      <div class="col-md-12 mb-3">
        <label for="prev_state">State<sup>*</sup></label>
         <select class="form-select p-select-state" aria-label="Default select example" id="prev_state">
           
            <option value="" selected="">---------</option>
           
           {% for state in states %}
          <option value="{{state.id}}">{{state.name}}</option>
          {% endfor %}
           
          
        </select>
      </div>
      <div class="col-md-12 mb-3">
        <label for="prev_city">City<sup>*</sup></label>
         <select class="form-select p-select-city" aria-label="Default select example" id="prev_city">
          
            <option value="" selected="">---------</option>
          
            {% for city in cities %}
          <option value="{{city.id}}">{{city.name}}</option>
          {% endfor %}
          
          
        </select>
      </div>
      <div class="col-md-12 mb-3">
      <div>
          <label for="state">Institute</label><small class="fw-lighter"> (Loading colleges may take some time. Please wait.)</small>
          <select class="form-select p-select-insti" id="institute-select" name="p_institute">
            {% if past_edu.institute %}
            <option value="{{past_edu.institute}}" selected="">{{past_edu.institute | get_institute_name }}</option>
            {% else %}
            <option value="" selected="">---------</option>
            {% endif %}
           
          </select>
      </div>
      </div>
      <!-- <div class="col-sm-4 mb-3"></div> -->
      <div class="col-sm-4 mb-3">
        <label  class="form-label">Start Year</label><small class="fw-light">(yyyy)</small>
      <input type="text"  class="form-control" value="{% if past_edu.start_year %}{{past_edu.start_year}}{% endif %}" name="p_start_year">
      </div>
      <div class="col-sm-4 mb-3">
        <label  class="form-label">End Year</label><small class="fw-light">(yyyy)</small>
      <input type="text"  class="form-control" value="{% if past_edu.end_year %}{{past_edu.end_year}}{% endif %}" name="p_end_year">
      </div>
      <div class="col-sm-4 mb-3">
        <label  class="form-label">GPA</label>
      <input type="text"  class="form-control" value="{% if past_edu.gpa %}{{past_edu.gpa}}{% endif %}" name="p_gpa">
      </div>
      <div class="col-sm-3 mb-3 d-none">
        <label  class="form-label">Order</label>
      <input type="text"  class="form-control" value="{{PAST_EDUCATION}}" name="p_order">
      </div>
    </div>
    </div>
      </div>
    </div>
      </div>
    	
    
      <!-- Education 1 ends -->
      <!-- Education 2 starts -->
      <!-- s -->
      <!-- Education 2 ends -->

	<button type="submit" class="btn btn-success mb-5" id="update_profile" {% if confirm %} style="display: none;" {% endif %}>Update Profile</button>
</form>
{% endblock %}
{% block jquery %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{% endblock %}
{% block js %}
<!-- <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> -->

<!-- <script  src="{% static '/external/Searchable-Multi-select-jQuery-Dropdown/jquery.dropdown.js' %}" ></script> -->

<script type="text/javascript">

  function validateEmail(email) {
    const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(String(email).toLowerCase());
}

function apply_for_job(spk_user_id,job_id,student_id){
    $.ajax({
      url: "/add_student_job_status",
      data: {
        'job_id' : job_id,
        'spk_user_id' : spk_user_id,
        'student_id' : student_id  //rec student
      },
      dataType: 'json',
      success:function(data){
        var messages = data.msg
        $('.toast').toast({'autohide':false});
        $('.toast').toast('show') ;
        $('.d-toast').show() ;
    }});
  }

$(document).ready(function() {

  // get current insti
  var c_insti = $('#current-insti').val()
  if (c_insti) {
    $.ajax({
                  url: "/ajax-get-state-city/",
                  type: "POST",
                  data: {
                      insti : c_insti
                  },
                  success: function(data) {
                      if(data){
                          $('#current_state').val(data['state_id'])
                          $('#current_city').val(data['city_id'])
                          var city = data['city_id']
                          var institute = data['insti_id']
                          $.ajax({
                                  url: "/ajax-institute-list/",
                                  type: "POST",
                                  data: {
                                      city : city
                                  },
                                  success: function(data) {
                                      if(data){
                                          $('.select-insti').html(data.institutes);
                                          $('.select-insti').val(institute)
                                      } else{
                                         
                                      }
                                  }
                              });
                      } 
                  }
              });

  }
  var p_insti = $('#institute-select').val()
  if (p_insti) {
    $.ajax({
                  url: "/ajax-get-state-city/",
                  type: "POST",
                  data: {
                      insti : p_insti
                  },
                  success: function(data) {
                      if(data){
                          $('#prev_state').val(data['state_id'])
                          $('#prev_city').val(data['city_id'])
                          var city = data['city_id']
                          var institute = data['insti_id']
                          $.ajax({
                                  url: "/ajax-institute-list/",
                                  type: "POST",
                                  data: {
                                      city : city
                                  },
                                  success: function(data) {
                                      if(data){
                                          $('.p-select-insti').html(data.institutes);
                                          $('.p-select-insti').val(institute)
                                      } else{
                                         
                                      }
                                  }
                              });
                      } else{
                          
                      }
                  }
              });

  }

  // get city & state from currennt insti
  //set value of state & city in current education

  e = document.querySelectorAll('#div_id_resume label')[1];
  e.style.display="none";
  e = document.querySelectorAll('#div_id_cover_letter label')[1];
  e.style.display="none";
  e = document.querySelector('#div_id_resume input');
  e.style.display="none";
  e = document.querySelector('#div_id_cover_letter input');
  e.style.display="none";

    if ($('#disable-form').html()) {
      $("#form-student :input").prop("disabled", true);
    }
    // insti = $('#id_institute').val();
    // $('#institute-select').val(parseInt(insti));
    var degree_list = [];
    var institute_list = [];
    var start_year_list = [];
    var end_year_list = [];
    var current_index = 0;
    // $('.js-example-basic-multiple').select2();
    $('.demo').dropdown({});
    $( "#modify" ).click(function() {
      $("#"+this.id).hide();
      $('#confirm_apply').hide();
      $('#save_changes_btn').show();
      $('#cancel_btn').show();
      $("#form-student :input").prop("disabled", false);
    
    // $("#update_profile").show();
    // $("#form-student :input").prop("disabled", false);

    });
    $( "#cancel_btn" ).click(function() {
      $("#"+this.id).hide();
      $('#cancel_btn').hide();
      $('#save_changes_btn').hide();
      $('#confirm_apply').show();
      $('#modify').show();
      $("#form-student :input").prop("disabled", true);
      
    
    // $("#update_profile").show();
    // $("#form-student :input").prop("disabled", false);

    });

    $( "#update_profile" ).click(function() {
      // email validation
      e = $('#id_alternate_email').val();
      if (e) {
        if (!validateEmail(e)) {
        elem = document.getElementById('div_id_alternate_email');
        
        var node = document.createElement("p");
        var textnode = document.createTextNode("Invalid Email")
        node.appendChild(textnode);
        elem.appendChild(node);
        node.setAttribute('class','email-feedback');
        node.setAttribute('display','block');
        // $("#div_id_alternate_email").scroll();
        $('html, body').animate({
        scrollTop: $("#div_id_alternate_email").offset().top - 100
    }, 100);

      }
      }
  	 var res = $('.dropdown-selected').text();
  	 var res1 = $('.dropdown-chose').text();
  	 var x =[];
  	 $('.dropdown-chose').each(function(index, obj)
  	 {
  	  x.push($(this).text());
  	 });
	$('#skills_m').val(x);
  
	


	});

  

$(document).on( 'click', '.degree', function () { 
var options = '';
  $.each(degree_list, function (i, item) {
    options += '<option value="' + item.id + '">' + item.name + '</option>';
});
    degree_vals = $(this).val();
    if (degree_vals==null) {
      $(this).append(options);
    }
    
 });
$(document).on( 'click', '.institute', function () { 
var options = '';
  $.each(institute_list, function (i, item) {
    options += '<option value="' + item.id + '">' + item.institution_name + '</option>';
});
    institute_vals = $(this).val();
    if (institute_vals==null) {
      $(this).append(options);
    }
    
 });

$(document).on( 'click', '.start_year', function () { 
var options = '';
  $.each(start_year_list, function (i, item) {
    options += '<option value="' + item + '">' + item + '</option>';
});
    institute_vals = $(this).val();
    if (institute_vals==null) {
      $(this).append(options);
    }
 });

$(document).on( 'click', '.end_year', function () { 
var options = '';
  $.each(end_year_list, function (i, item) {
    options += '<option value="' + item + '">' + item + '</option>';
});    
    institute_vals = $(this).val();
    if (institute_vals==null) {
      $(this).append(options);
    }
 });

 // Remove element
 $('.container').on('click','.remove',function(){ 
  var id = this.id;
  var split_id = id.split("_");
  var deleteindex = split_id[1];

  $("#div_" + deleteindex).remove();

 }); 

});
</script>
<script type="text/javascript">
  function add_projects(p_num,url_val='',desc_val=''){
  
  s_remove = document.createElement('div');
  s_remove.innerHTML = '<i class="bi bi-dash-circle"></i> Remove <b>Project #'+p_num+'</b>';
  s_remove.classList.add("remove","mb-1");

  d_url = document.createElement("span");

  d_url.appendChild(s_remove);
  e_url = document.createElement("INPUT");
  e_url.classList.add("textinput","textInput","form-control","mb-3", "input-url");
  e_url.placeholder = "Add Project URL"
  e_url.innerHTML=url_val;

  e_url.setAttribute("name","pr_url");
  e_url.setAttribute("type","text");
  d_url.appendChild(e_url);
  d_w = document.createElement("div");
  d_w.setAttribute("id", "w_"+p_num);
  d_w.classList.add("wrapper","mb-3");
  // w = document.querySelector('.wrapper');
  d_w.style.border = "1px solid rgba(0,0,0,0.1)";
  d_w.style.padding = "12px";
  d_w.appendChild(d_url);
  d_desc = document.createElement("div");
  e_desc = document.createElement("textarea");
  e_desc.classList.add("textarea","form-control","mb-3","text-desc");
  e_desc.placeholder = "Add Project Description"
  e_desc.setAttribute("name","pr_desc");
  e_desc.innerHTML=desc_val;
  e_desc.maxLength = "2000";
  e_desc.cols = "80";
  e_desc.rows = "10";
  d_desc.appendChild(e_desc);
  d_w.appendChild(d_desc);
  all = document.querySelector('.all_projects');
  all.appendChild(d_w);
  document.getElementById("w_"+p_num).scrollIntoView();
  }
  $('#btn-add-project').on('click',function(){ 
    e = document.querySelectorAll('.all_projects .wrapper')
    if (e.length < 5) {
      add_projects(e.length+1);
    }else{
      $('#alert-project').show();
    }
    
 }); 
  $('.all_projects').on('click', '.remove', function(){
    remove_span_elem = this;
    wrapper_elem = remove_span_elem.parentNode.parentNode;
    p = document.querySelector('.all_projects');
    p.removeChild(wrapper_elem);
});
  $('#btn-prev-edu').on('click',function(){ 
    $('#btn-prev-edu').hide();
    $('#btn-prev-edu-cancel').show();
    $('#past_edu').show();
 }); 
  $('#btn-prev-edu-cancel').on('click',function(){ 
    $('#btn-prev-edu-cancel').hide();
    $('#btn-prev-edu').show();
    $('#past_edu').hide();
 }); 
</script>

{% endblock %}
