{% extends 'emp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load helper %}
{% block content-header %}{{ object.title}}{% endblock %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<style type="text/css">
	.select2-container {
		width: 100%!important;
		margin-bottom: 12px!important;
	}
  
</style>
{% endblock %}
{% block content %}
{% include "emp/page_header.html" with title="Student Filter" icon="<i class='bi bi-briefcase-fill'></i>" %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

{% for message in messages %}
    <div class="text-center alert {{ message.tags }}">
                {{ message|safe }}
    </div>
{% endfor %}
{% if no_data %}
<div class="alert alert-warning" role="alert">
	No data available for selected criteria.
  </div>
{% endif %}
<div class="border border-secondary px-2 rounded pb-3">
	<form method="post">
		{% csrf_token %}
		<div id="m_o" style="border-bottom: 1px solid green;;" class="pb-3">
			
	
			<div class="my-3 py-2" >
				<span><button type="button" class="btn btn-success btn-sm" id="add_btn"><i class="fas fa-plus-circle mr-2"></i> Add Mandatory Foss</button></span>
				<span class="fs-6 fw-bold mr-5 text-center">Mandatory/Optional Foss Criteria</span> 
		</div>
	
		<div class="wrapper-criteria" id="wrapper-criteria">
			<div class="foss-criteria" id="filter_1">
				<select name="criteria-type" id="criteria-type">
				  <option value="{{MANDATORY_FOSS}}">Mandatory</option>
				  <option value="{{OPTIONAL_FOSS}}" >Optional</option>
				</select>
				<select name="foss" class="foss">
					<option value="0" >Select Foss</option>
					{% for item in foss %}
					<option value="{{item.0}}">{{item.1}}</option>
					{% endfor %}
				</select>
				<input type="text" name="grade" value="0" class="foss">
				<button type="button" class="btn btn-outline-danger btn-sm remove_btn" id="remove_btn_1">Remove</button>
				
			</div>
			
		</div>
		</div>
		<div id="multi" style="border-bottom: 1px solid green;;" class="py-3">
			<div class="my-3 pb-2" >
				<span><button type="button" class="btn btn-success btn-sm" id="add_multiple_btn"><i class="fas fa-plus-circle mr-2"></i> Add Multiple Fosses</button></span>
				<span class="fs-6 fw-bold mr-5">Multiple Foss Criteria</span> 
		</div>
		<div class="wrapper-criteria-multiple" id="wrapper-criteria-multiple">
			<div class="foss-criteria-multiple" id="multiple_filter_1">
				<select name="fosses_1" class="fosses"  multiple="multiple">
					{% for item in foss %}
					<option value="{{item.0}}">{{item.1}}</option>
					{% endfor %}
				</select>
				<input type="text" name="multiple_grade" value="0">
				<button type="button" class="btn btn-outline-danger btn-sm remove_btn" id="multiple_remove_btn_1">Remove</button>
			</div>
			
		</div>
		</div>
		<div style="border-bottom: 2px solid green;;" class="py-3">
			<div class="my-3 pb-2" >
				<span><i class="fas fa-calendar-alt text-success mr-3"></i> </span> <span class="fs-6 fw-bold mr-5">Date Criteria</span>
		</div>
			<div class="row" >
				<div class="col-6">
				<label for="start_date">Start Date</label>
				<input type="date" id="start_date" name="start_date">
			</div>
				<div class="col-6">
				<label for="end_date">End Date</label>
				<input type="date" id="end_date" name="end_date">
			</div>
				
			</div>
		</div>
		
		
		<input type="text" name="num" id="num">
		<input type="submit" name="filter" class="mt-3 btn btn-success" id="btn-filter">
		<input type="hidden" name="user" id="user" value="{{request.user.username}}">
	</form>
</div>
<div class="row mt-3">
	<div class="col-md-6">
		<table class="table table-success table-striped table-bordered">
			<caption>Filtered Criteria</caption>
			<tbody>
				{% if start_date %}
				<tr>
					<th>start date : </th>
					<td>{{start_date}}</td>
				</tr>
				{% endif %}
				{% if end_date %}
				<tr>
					<th>end date : </th>
					<td>{{end_date}}</td>
				</tr>
				{% endif %}
				{% if foss_grade %}
				<tr>
					<th>Mandatory Foss</th>
					<th>Grade</th>
				</tr>
				{% for key in foss_grade%}
				<tr>
					<td>{{key}}</td>
					<td>> {{foss_grade | get_item:key}}</td>
				</tr>
				{% endfor %}
				{% endif %}
				
				
				{% if l %}
				<tr>
					<th>Multiple Foss</th>
					<th>Grade</th>
				</tr>
				{% for item in l%}

				<tr>
					<td>
						{% for foss in item.2 %}
						{% if not forloop.last %} <span>{{fd | get_item:foss}} | </span> 
						{% else %}
						<span>{{fd | get_item:foss}} </span>
						{% endif %}
						
						{% endfor %}
					</td>

					<td>{{item.1}}</td>
					
				</tr>
				{% endfor %}
				{% endif %}
				
				

			</tbody>
		</table>
	</div>
	<div class="col-md-6">
	</div>
</div>
<div>

<div class="my-5">
	<div>
		<a data-bs-toggle="modal" href="#exampleModalToggle" role="button" href="http://127.0.0.1:8081/cron/mail_list_create/" class="btn btn-primary" target="_blank" id="btn_mail">
			Send First Mail to Students  <i class="far fa-paper-plane"></i></a>
	</div>
	<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel">Mail Content</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
        	<form id="mail_content">
        		<div>
        			<label class="form-label" for="f_jobid">Job Id</label>
        			<input class="form-control" type="text" name="jobid" id="f_jobid">
        		</div>
        		<div>
        			<label class="form-label" for="f_subject">Subject</label>
        			<input class="form-control" type="text" name="subject" id="f_subject">
        		</div>
        		<div>
        			<label class="form-label" for="f_message">Message</label>
        			<textarea class="form-control" type="text" name="message" rows="3" id="f_message"></textarea>
        		</div>
        	</form>
        </div>
      </div>
      <div class="modal-footer" style="display: block!important;">
      	<div class="row">
      		<div class="col">
      			<label class="form-label" for="f_username">Username</label>
        		<input form="mail_content" class="form-control" type="text" name="username" id="f_username">
      		</div>
      		<div class="col">
      			<label class="form-label" for="f_pwd">Password</label>
        		<input form="mail_content" class="form-control" type="password" name="pwd" id="f_pwd">
      		</div>
      		<div class="col">
      			<button id="create_mail" class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal" style="margin-top: 28px!important;">Create Mass Mail</button>
      		</div>
      		
      	</div>
        
      </div>
    </div>
  </div>
</div>
</div>

{% if n_users_id %}
<table id="tb_emails" class="mt-5">
	<thead>
		<tr>
			<th>Sr#</th>
			<th>Email</th>
			<th>Moodle User Id</th>
			<th>Name</th>
			<th>Quiz</th>
			<th>Foss</th>	
			<th>Grade</th>
		</tr>
	</thead>
	<tbody>
		{% if n_users_id %}
		{% for item in n_users_id %}
	<tr>
		<td>{{forloop.counter}}</td>
		<td>{{item.3}}</td>
		<td>{{item.0}}</td>
		<td>{{item.1}}  {{item.2}}</td>
		<td>{{item.4}}</td>
		<td>{{ fosses | get_item:item.4 }}</td>
		<td>{{item.5}}</td>
	</tr>
	{% endfor %}
		{% endif %}
	</tbody>
</table>
{% endif %}

</div>

{% endblock %}
{% block jquery %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type="text/javascript">
	$(document).ready(function (){
		$('#student_data').DataTable();
		var multiple_remove_btn_1 = document.getElementById('multiple_remove_btn_1')
		multiple_remove_btn_1.style.display='none';
		var first_remove_btn = document.getElementById("remove_btn_1");
		first_remove_btn.style.display='none';
		var num = 1;
		var multi_foss = 1;
		function remove_btn_func(){
			btn_prefix = event.srcElement.id.split("_")[0];
			console.log(btn_prefix);
			if(btn_prefix=='remove'){
				btn_id = event.srcElement.id.split("_")[2];
				let elem_id = 'filter_'+btn_id;
				document.getElementById(elem_id).remove();
			}else{
				btn_id = event.srcElement.id.split("_")[3];
				let elem_id = 'multiple_filter_'+btn_id;
				console.log(btn_id);
				console.log(elem_id);
				document.getElementById(elem_id).remove();
			}
		}
		$( "#add_btn" ).click(function() {
		var item = document.getElementById("filter_1");
		var clone = item.cloneNode(true);
		count = num+1
		clone.id = 'filter_'+ count ;
		var remove_btn = clone.lastElementChild;
		remove_btn.id = 'remove_btn_'+ count;
		remove_btn.style.display='inline';
		num = num + 1;
		document.getElementById("wrapper-criteria").appendChild(clone);
		// remove_btn.id = 'remove_btn_'+ 'a';
		remove_btn.addEventListener('click',remove_btn_func);
		});
		
		$( "#add_multiple_btn" ).click(function() {
		multi_foss = multi_foss + 1;
		var item = document.getElementById("multiple_filter_1");
		var clone = item.cloneNode(true);
		count = num+1
		clone.id = 'multiple_filter_'+ count ;
		clone.getElementsByClassName("fosses")[0].setAttribute('name', 'fosses_' + multi_foss);
		var remove_btn = clone.lastElementChild;
		remove_btn.id = 'multiple_remove_btn_'+ count;
		remove_btn.style.display='inline';
		remove_btn.addEventListener('click',remove_btn_func);
		num = num + 1;
		document.getElementById("wrapper-criteria-multiple").appendChild(clone);
		$('#num').val(multi_foss);
		});

		var multi_foss_first = document.getElementsByName("fosses_1");
		$('#tb_emails').dataTable({"pageLength": 25});
	});
	
	$("#create_mail").on("click", function(event){
        event.preventDefault();
        alert('here');
        var job_id = $('#f_jobid').val();
        var subject = $('#f_subject').val();
        message = CKEDITOR.instances['f_message'].getData()
        table = $('#tb_emails').DataTable()
        if (table.data().any() == false){
          alert('Email list is empty. Please filter emails for mass mail.')
          return
        }else{
        	alert('table is not empty');
        }
         
        emails = table.column(1).data();
        data = []
		let emails_set = new Set();
		for (i = 0; i < emails.length; i++) {
			emails_set.add(emails[i])
            }
		let unique_emails = [...emails_set];
        for (i = 0; i < unique_emails.length; i++) {
				data.push([unique_emails[i]])
            }
        var username = $('#f_username').val();
        var pwd = $('#f_pwd').val();
        
      data = JSON.stringify({ 'data': data ,'subject': subject,'job': job_id, 'message': message,'username':username,'password':pwd});
      mail_data = {'subject': subject,'job': 'job', 'message': message, 'data': data,'username':username,'password':pwd};
      
      var user = $('#user').val();
      
      $.ajax({
          method: "POST",
          url: '{{MASS_MAIL}}',
          data: mail_data,
          dataType : 'json',
          success:function(data) {
              alert('mass mail created successfully !');
            },
          error:function(data) {
          	alert('error');
},
          })
    });

	
	$("#btn-filter").on("click", function(event){
		multi_filter = document.getElementById('wrapper-criteria-multiple')
		let num = multi_filter.childElementCount
		$('#num').val = num
		
	});
</script>
<script type="text/javascript" src="{% static '/ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static '/ckeditor/ckeditor/ckeditor.js' %}"></script>
<script>
  // Replace the <textarea id="editor1"> with a CKEditor
  // instance, using default configuration.
  CKEDITOR.replace( 'f_message' );
</script>

{% endblock %}
