{% extends 'emp/base.html' %}
{% load crispy_forms_tags %}
{% load helper %}
{% block content-header %}{{ object.title}}{% endblock %}
{% block css %}
<style type="text/css">
  .profile-info{
    height: 90vh;
    /*border: 2px solid blue;*/
    overflow: scroll;
  }
  #s-profile{
    border-right: 5px solid #FFCC00;
    color: #0066A0;
  }
  #s-profile a{
    color: green!important;
    font-weight: bold;
  }
  .c-icon{
    color: #0066A0;
  }
</style>
{% endblock %}
{% block content %}
<!-- {% include "emp/page_header.html" with title="Job Details" icon="<i class='bi bi-briefcase-fill'></i>" %} -->
{% for message in messages %}
    <div class="text-center alert {{ message.tags }}">
                {{ message|safe }}
            </div>
{% endfor %}
<section>
  {# if request.user|has_group:"STUDENT" #}
  {% if request.user|is_student %}
    {% if current_education %}
      <div>
        <div class="d-none">
        <form id="form-job-app" action="{% url 'add_student_job_status' %}" method="POST">
          {% csrf_token %}
        <input type="number" name="job_id" required="" id="id_job_id" value="{{job.id}}">
        <input type="number" name="student" required="" id="id_student" value="{{request.user.student.id}}">
        <input type="number" name="spk_user_id" required="" id="id_spk_user_id" value="{{request.user.student.spk_usr_id}}">
        </form> 
      </div>
      <div class="alert alert-warning" role="alert">
        <p>The following profile will be submitted to recruiter. <a href="{% url 'student_profile' request.user.student.id %}" class="alert-link text-decoration-underline" >Click here to edit your profile.</a></p>
        <hr>
        <span><button class="btn btn-success" type="submit" form="form-job-app" type="submit" id="confirm_apply">Confirm Profile & Apply</button></span>
      </div>
    </div>
    {% else %}
    <div class="alert alert-danger" role="alert">
      <span>Please <a href="{% url 'student_profile' request.user.student.id %}" class="alert-link text-decoration-underline" ><i class="bi bi-pencil-square"></i> add education & contact details in your profile</a> to apply for jobs! </span>
    </div>
    {% endif %}
  {% endif %}
	<div class="row profile-info">
		<div class="col-lg-4 profile-info">
			<ul class="list-group">
        <li class="list-group-item list-group-item-info"><span>Student Details</span></li>
  <li class="list-group-item">
  	<b><i class="bi bi-person-square c-icon"></i></b><span> {{student.user.get_full_name | title}}</span><br>
  	<b><i class="bi bi-geo-alt-fill c-icon"></i><small>(Address)</small></b> <span>{{student.address |default_if_none:'Data Not Available'}}</span><br>
  	<!-- <b><i class="bi bi-bank2"></i><small>(Institute)</small></b> <span>{{student.spk_institute |default_if_none:'Data Not Available'}}</span><br> -->
    {% if request.user|has_group:"STUDENT" %}
    <b><i class="bi bi-envelope c-icon"></i> <small>Email</small>: </b><span>{{student.user.email}}</span><br>
    <b><i class="bi bi-envelope c-icon"></i> <small>Alternate Email</small>: </b><span>{{student.alternate_email}}</span><br>
    <b><i class="bi bi-telephone c-icon"></i> <small>Contact</small>: </b><span>{{student.phone}}</span><br>
    {% endif %}
    <hr>
    <b>Gender : </b><span>{{student.gender | title}}</span><br>
    <!-- <b>Spoken User Id: </b><span>{{student.spk_usr_id | title}}</span><br> -->
  </li>
  <li class="list-group-item list-group-item-info"><span>Education Details</span></li>
  <li class="list-group-item">
    {% for e in current_education %}
    <span><i class="bi bi-bank2 c-icon"></i> {{e.institute | get_institute_name}}</span><br>
    <span><i class="bi bi-book c-icon"></i> {{e.degree}} | {{e.acad_discipline}}</span><br>
    <span><i class="far fa-clipboard c-icon"></i> GPA : {{e.gpa | default_if_none:'-'}}</span><br>
    <span><i class="bi bi-calendar c-icon"></i> {{e.start_year | default_if_none:'-'}} - {{e.end_year | default_if_none:'-'}}</span><br>
    {% endfor %}
    <hr>
    {% if past_education %}
    <span><i class="bi bi-bank2 c-icon"></i> {{past_education.institute | get_institute_name}}</span><br>
    <span><i class="bi bi-book c-icon"></i> {{past_education.degree}} | {{past_education.acad_discipline}}</span><br>
    <span><i class="far fa-clipboard c-icon"></i> GPA : {{past_education.gpa | default_if_none:'-'}}</span><br>
    <span><i class="bi bi-calendar c-icon"></i> {{past_education.start_year | default_if_none:'-'}} - {{past_education.end_year | default_if_none:'-'}}</span><br>
    {% endif %}
  </li>
  <li class="list-group-item list-group-item-info"><span>Spoken Tutorial Test Scores</span>
   <li class="list-group-item">
     <table class="table table-bordered ">
  <thead>
  </thead>
  <tbody>
    {% if scores %}
    <tr>
     <td><b>Foss</b></td>
     <td><b>Grade</b></td>
     <td><b>Test Date</b></td>
   </tr>
   
      {% for item in scores %}
   <tr>
     <td>{{item.name}}</td>
     <td>{{item.grade}}</td>
     <td>{{item.updated}}</td>
   </tr>
   {% endfor %}
   {% else %}
    <tr>
      <th>No Data Available.</th>
      <th></th>
    </tr>
   
    {% endif %}
  </tbody>
</table>
   </li>
  </li>
  {% if ilw_scores %}
  <li class="list-group-item list-group-item-info"><span>ILW Test Scores</span>
    <li class="list-group-item">
      <table class="table table-bordered ">
   <thead>
   </thead>
   <tbody>
     <tr>
      <td><b>Foss</b></td>
      <td><b>Grade</b></td>
      <td><b>Test Date</b></td>
    </tr> 
       {% for item in ilw_scores %}
    <tr>
      <td>{{item.name}}</td>
      <td>{{item.grade}}</td>
      <td>{{item.mdl.updated}}</td>
    </tr>
    {% endfor %}
   </tbody>
 </table>
    </li>
   </li>
  {% endif %}
  
  <li class="list-group-item list-group-item-info"><span>Profile</span></li>
  <li class="list-group-item">
  	<b>About</b>
  	<p>{{student.about|default:'-'}}</p>
  </li>
  <li class="list-group-item list-group-item-info"><span>Links</span></li>
  <li class="list-group-item">
  	<b><i class="bi bi-github c-icon"></i><span class="me-1"> Github </span></b><span>{{student.github|default:'-'}}</span><br>
  	<b><i class="bi bi-linkedin c-icon"></i><span class="me-1"> LinkedIn </span></b><span>{{student.linkedin|default:'-'}}</span>
  </li>
  <li class="list-group-item list-group-item-info"><span>Certifications</span></li>
  <li class="list-group-item">
    <p>{{student.certifications | default:'No certificates added.'}}</p>
  </li>
  <li class="list-group-item list-group-item-info"><span>Projects</span></li>
  {% if student.projects.all %}
  {% for item in student.projects.all %}
  <li class="list-group-item">
    <a href="{{item.url}}">{{item.url}}</a>
    <p>{{item.desc}}</p>
  </li>
  {% endfor %}
  {% else %}
  <li class="list-group-item">No projects added.</li>
  {% endif %}
  
  
</ul>
		</div>
		<div class="col-lg-8 profile-info">
      <div class="border p-3 mb-3">
        <p>Profile : {{complete}}% filled</p>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: {{complete}}%" aria-valuenow="{{complete}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <hr>
        
        {% if empty_fields %}
          <p><b>Please add following information to complete the profile:</b></p>
          <p>{{empty_fields}}</p>
          {% if request.user|has_group:"MANAGER" %}
          {% if student.notified_date %}
          <p>Last notified on : {{student.notified_date}}</p>
          {% endif %}
        <button type="button" class="btn btn-outline-info btn-sm" id="notify">Notify student</button>
        <button class="btn btn-outline-primary btn-sm" type="button" id="in-progress" style="display:none;" disabled>
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
          Sending mail.... Please wait
        </button>
        <button type="button" class="btn btn-outline-success btn-sm" id="sent-success-status" style="display:none;" disabled><i class="bi bi-check"></i> 
          Mail sent to {{student.user.email}}.</button>
        <button type="button" class="btn btn-outline-primary btn-sm" id="sent-error-status" style="display:none;" disabled><i class="bi bi-exclamation-circle"></i>
        <span id="error_text"></span>
        </button>
        {% endif %}
        {% else %}
          <p>Student Profile is complete.</p>
        {% endif %}
        
      </div>
      <div>
        {% if student.resume %}
        <p>If you are unable to view resume below , <a target="_blank" href="{{ MEDIA_URL }}students/{{student.user.id}}/resume{{student.user.id}}.pdf">please click here to view resume</a> </p>
        <p>If you are unable to view cover letter below , <a target="_blank" href="{{ MEDIA_URL }}students/{{student.user.id}}/cover_letter{{student.user.id}}.pdf">please click here to view cover letter</a> </p>
        <embed src="{{ MEDIA_URL }}students/{{student.user.id}}/resume{{student.user.id}}.pdf" width="800px" height="2100px" /> 
        {% else %}
        <div class="alert alert-dark" role="alert">No Resume Available. It is recommended to upload resume.</div>
        {% endif %}
        {% if student.cover_letter %}
        <embed src="{{ MEDIA_URL }}students/{{student.user.id}}/cover_letter{{student.user.id}}.pdf" width="800px" height="2100px" />
        {% else %}  
        <div class="alert alert-dark" role="alert">No Cover Letter Available.</div>
        {% endif %}

      </div>
      <div>
      </div>
		</div>
	</div>
</section>
{% endblock %}
{% block jquery %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{% endblock %}
{% block js %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
  var elem = document.getElementById('notify')
  function notify(){
    $('#in-progress').show();
    $('#sent-success-status').hide();
    $('#sent-error-status').hide();
    
    $.ajax({
      type:"POST",
      url: "/notify-student-profile/",
      data:{
        'email': "{{student.user.email}}",
        'empty_fields' : "{{empty_fields}}"
      },
      success: function(result){
        $('#in-progress').hide();
        $('#sent-success-status').show();
      },
      error: function(result){
        $('#in-progress').hide();
        $('#sent-error-status').show();
        $('#error_text').text(result.responseJSON['error'])
      }
    });
  }

  elem.addEventListener('click',notify)
</script>
{% endblock %}
