{% extends 'emp/base.html' %}
{% load static %}
{% load helper %}
{% block css %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<style type="text/css">
  body{
    background: #EAEAEA;
  }
  .c-name{
    color: #0066A0;
  }
  h4{
    font-size: 1.2rem;
  }
  .row{
    background: #fff;
  }
  .c-border{
    border: 1px solid rgba(0,0,0,0.1);
  }
  .title{
    font-size: 1.2rem;
  }
  .rec-wrap{
    border: 1px solid rgba(5,76,119,0.3);
    border-radius: 6px;
  }
  .pre-apply,.post-apply{
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
  }
  #s-dashboard{
    border-right: 5px solid #FFCC00;
    color: #0066A0;
  }
  #s-dashboard a{
    color: green!important;
    font-weight: bold;
  }
  .c-href{
    color: inherit;
    transition: box-shadow .3s;
  border-radius:10px;
  border: 1px solid #ccc;
  background: #fff;
  float: left;
  }
  .c-href:hover{
    color: inherit;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }
  div#cke tbody,div#cke td,div#cke tfoot,div#cke th,div#cke thead,div#cke tr{
  border:1px solid rgba(0,102,160,0.5)!important;
  padding: 6px;
}
div#cke table{
  width: 100%!important;
}

</style>
{% endblock %}
{% block content %}
{% include 'accounts/messages.html' %} 

<br><br>
<!--display 5 rated Company-->
<div class="d-flex justify-content-between">
  <div class="text-center w-100">
    <span class="text-decoration-line-through">
      <span style="color: #fff;" class="me-2">------------ </span></span>
      <b class="title">In collaboration with</b>
      <span class="text-decoration-line-through">
      <span style="color: #fff;" class="me-2">------------ </span></span>
  </div>
    
    <!-- <button type="button" class="btn btn-info">View all companies</button> -->
</div>
<br>
<div class="row">
{% for company in company_display %}

<div class="col-4 col-md-2">  
  <div class="border d-flex flex-column p-1" style="height: 100%;">
    {% if company.logo %}
    <img class="d-block align-self-center m-2" src="{{ company.logo.url|default_if_none:'#' }}" 
    style=" height: 60px;display: inline;" alt="{{company.name}} logo">{% endif %}<br>
    <span class="c-name align-self-center"><b>{{company.name}}</b></span>
    <!-- <span class="text-muted align-self-center">vacancies : 10</span> --> <!-- to do  -->
  </div>
</div>

{% endfor %}
</div>
<section>

<br>
<div class="row rec-wrap mb-3">
  <div class="col-12 ">
    <div class="text-center py-2">
    <b class="title c-name">Recommended Jobs</b>
  </div>
  </div>
    
      {% if rec_jobs %}
    {% for job in rec_jobs %}
    <div class="col-lg-3 col-sm-12 py-3">  
      <div class="card" style="width: 18rem;height: 100%;">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            {% if job.company.logo %}
            <img class="card-img-top me-2" src="{{ job.company.logo.url|default_if_none:'#' }}" alt="Card image cap" style="width: auto;height: 60px;">
            {% endif %}
            <div class="me-auto">
           <span class="card-title fw-bold"><a href="{% url 'job-list' %}?id={{job.id}}">{{job.title}}</a></span><br>
            <small style="color: rgba(0,0,0,0.6)">{% get_citydetails job.city_job %} , {% get_statedetails job.state_job %}
          </small>
            </div>
          </div>
          <hr>
          <p class="card-text mb-5">{{job.description | slice:":255"}}...</p>
          <div class="row">
            <div class="col-6">
            <a href="#" class="btn btn-info post-apply disabled" style="display: none;" id="applied_{{job.id}}"><i class="fas fa-check mr-3"></i>Applied</a>
          <a class="btn btn-info pre-apply " href="{% url 'student_profile_details' request.user.student.spk_usr_id job.id %}" id="apply_{{job.id}}">Apply</a>    
            </div>
            <div class="col-6">
              <a class="btn btn-outline-secondary " href="{% url 'job-list' %}?id={{job.id}}" id="apply_{{job.id}}">View Details</a>    
            </div>
          </div>
        </div>
        </div>
    </div>
    {% endfor %}
    <div class="col-12"><a href="{% url 'student_jobs' %}">View all recommended jobs >> </a></div>
{% else %}
<div class="col-lg-4 col-sm-12 py-3">  
<p>No Recommended Jobs Yet.</p>
</div> 
{% endif %}    
</div>

</section>
<section>

<br>
{% if applied_jobs %}
<div class="row mb-3">
  <div class="text-center w-100 fs-5 border-bottom mb-3 col-12 c-name"><b>Applied Jobs</b></div>
  {% for item in applied_jobs %}
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h6 class="card-title d-flex">
      <div style="margin-right: 10px;"><i class="fas fa-suitcase"></i></div>
      <div>{{item.title}}</div>
    </h6>
    <p class="card-subtitle mb-2 text-muted"><i class="fas fa-building" style="margin-right: 10px;"></i>{{item.company.name}}</p>
    <p class="card-text"></p>
    <a href="#" class="card-link"><span class="badge bg-{{item.status | format_status}} rounded-pill">
      {{item.status | status_value }}
    </span></a>
    <a href="#" class="card-link"></a>
  </div>
</div>
  </div>
  {% endfor %}
</div>
<div class="col-12"><a href="{% url 'student_jobs' %}">View all applications >> </a></div>
{% endif %}


<div class="row">
  <div class="text-center w-100 fs-5 border-bottom mb-3 col-12 c-name"><b>Posted Jobs</b></div>
  {% if jobs_to_display %}
    {% for job in jobs_to_display %}
    <div class="col-12 col-md-4 py-3"> 
    <a href="{% url 'job-list' %}?id={{job.id}}" class="c-href" style="width: 100%;">
      <div class="card" style="width: 100%;height: 500px;overflow: scroll;">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            {% if job.company.logo %}
            <img class="card-img-top me-2" src="{{ job.company.logo.url|default_if_none:'#' }}" alt="Card image cap" style="width: auto;height: 60px;">
            {% endif %}
            <div class="me-auto">
           <span class="card-title fw-bold">{{job.title}}</span><br>
            <small style="color: rgba(0,0,0,0.6)">{% get_citydetails job.city_job %} , {% get_statedetails job.state_job %}
          </small>
            </div>
          </div>
          <div id="cke" class="card-text mb-5" style="width: 100%;">
            {% autoescape off %} {{job.description}} {% endautoescape %}
          </div>
          <!-- <p class="card-text mb-5"></p> -->
          
          
        </div>

        </div>
        </a> 
    </div>
    {% endfor %}
    
{% else %}
<div class="col-lg-4 col-sm-12 py-3">  
<p>No New Jobs Posted Yet. Please Check Later</p>
</div> 
{% endif %}
<div class="col-12"><a href="{% url 'job-list' %}">View all posted jobs >> </a></div>
</div>  
</section>
{% endblock %}
{% block jquery %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{% endblock %}
{% block js %}
<script type = "text/javascript">
  function hide_reject_labels(){
    $('.rejected').hide();
  }
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
      hide_reject_labels();
      });
</script>
{% endblock %}
