{% extends 'emp/base.html' %}
{% load static %}
{% load helper %}
{% load crispy_forms_tags %}
{% block css %}
<!-- <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" /> -->
<link rel="stylesheet" type="text/css" href="{% static '/external/Searchable-Multi-select-jQuery-Dropdown/jquery.dropdown.css' %}">
<style type="text/css">
	.select2-container{
		width: 100%!important;
	}
	.select2-container--default .select2-selection--multiple{
		border: none!important;
		border: 1px solid #ced4da!important;
	}
  i{
    color: #0066A0;
  }
</style>
{% endblock %}

{% block content %}

{% if confirm %}
<div class="row d-toast" style="display: none;">
  <div class="col-sm-8">
    <div class="toast w-100" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <img src="{{ job.company.logo.url|default_if_none:'#' }}" class="rounded mr-2" style="width: auto;height: 40px;">
    <strong class="me-auto"><span class="mx-3">{{job.company.name}}</span></strong>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    <span style="font-size: 1rem;margin-right: 1rem;"><i class="bi bi-check-all"></i></span>Your application is successfully submitted for <b>{{job.title}}</b>
  </div>
</div>
  </div>
  
</div>

<div class="">
  <p><b>Below profile details will be sent to the company.</b></p>
  <div class="row">
    <div class="col-md-4">
      <!-- <span><button type="submit" form="form-job-app" formaction="{% url 'add_student_job_status' %}" class="btn btn-outline-secondary" type="submit">Confirm & Apply</button></span> -->
      <span><button type="submit" form="form-job-app" class="btn btn-outline-secondary" type="submit">Confirm & Apply</button></span>
      <span><button type="button" class="btn btn-outline-secondary" style="display: none;">Cancel</button></span>
    </div>
    <div class="col-md-4">
      <span><button type="button" class="btn btn-outline-secondary">Modify</button></span>
      <span><button type="button" class="btn btn-outline-secondary" style="display: none;">Save changes & proceed</button></span>
    </div>
    <div class="col-md-8"><hr></div>
    
  </div>
  <div class="d-none">
    <form id="form-job-app" action="{% url 'add_student_job_status' %}" method="post">
      {% csrf_token %}
    <input type="number" name="job_id" required="" id="id_job_id" value="{{job.id}}">
    <input type="number" name="student" required="" id="id_student" value="{{request.user.student.id}}">
    <input type="number" name="spk_user_id" required="" id="id_spk_user_id" value="{{request.user.student.spk_usr_id}}">
    </form> 
  </div>
  
  <div class="row">
    <!-- <div class="col-md-6" id="confirm"><button id="confirm-btn" type="button" class="btn btn-outline-success" onclick="apply_for_job('{{request.user.student.spk_usr_id}}','{{job_id}}','{{request.user.student.id}}');" >Confirm & Apply</button></div> -->
    <!-- <div class="col-md-6" id="confirm"><a id="confirm-btn" type="button" class="btn btn-outline-success" 
      href="{% url 'add_student_job_status' %}" 
     >Confirm & Apply</a></div> -->




    <div class="col-md-6" id="modify"><button type="button" class="btn btn-outline-info" >Modify</button></div>
  </div>
</div>
{% endif %}
<form class="py-5">
	<div class="form-row">
		<div class="col-sm-8">
      <div class="col-12 mb-3">
        <div class="input-group">
          <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
          <input type="text" class="form-control" value="{{student.user.get_full_name | default_if_none:'' | format_char}}" readonly>
        </div>
      </div>
      <div class="col-6 mb-3">
        <div class="input-group">
          <div class="input-group-text"><i class="bi bi-envelope"></i></i></div>
          <input type="text" class="form-control" value="{{student.user.email | default_if_none:''}}" readonly>
        </div>
      </div>
      <div class="col-6 mb-3">
        <div class="input-group">
          <div class="input-group-text"><i class="bi bi-telephone"></i></div>
          <input type="text" class="form-control" value="{{student.phone | default_if_none:'' }}" readonly>
        </div>
      </div>
      <div class="col-12 mb-3">
        <div class="input-group">
          <div class="input-group-text"><i class="bi bi-house"></i></div>
          <input type="text" class="form-control" value="{{student.address | default_if_none:'' }}" readonly>
        </div>
      </div>
      <div class="col-12 mb-3">
        <div class="input-group">
          <div class="input-group-text"><i class="fas fa-landmark"></i></div>
          <input type="text" class="form-control" value="{{student.user.phone | default_if_none:'' }}" readonly>
        </div>
      </div>
		</div>
	</div>
</form>
<form method="post" id="form-student">

	<div class="row">
    	<div class="col-sm-8">
        <label>{{ form.skills.label_tag }}</label>
    		<div class="demo mb-3">
          
  			<select style="display: none;" multiple >
  			{% for skill in skills %}	
  			<option value="{{skill.id}}">{{skill.name}}</option>
  			{% endfor %}
  			</select>
		</div>
    	</div>
		<input type="hidden" id="skills_m" name="skills_m">
    	<div class="col-sm-8 mb-3">
      		{{ form.about | as_crispy_field }}
    	</div>
    	<div class="col-sm-8 mb-3">
      		{{ form.experience | as_crispy_field }}
    	</div>
    	<div class="col-sm-4 mb-3">
    	</div>
    	<div class="col-sm-4 mb-3">
      		{{ form.linkedin | as_crispy_field }}
    	</div>
		<div class="col-sm-4 mb-3">
      		{{ form.github | as_crispy_field }}
    	</div>
    	<div class="col-sm-8 mb-3">
      	{{ form.cover_letter | as_crispy_field }}
    	</div>

    	<!-- Add Education -->
    	<div class="col-sm-4 mb-3"></div>
    	<div class="col-sm-4 mb-3">
      	{{ education_form.degree | as_crispy_field }}
    	</div>
    	<div class="col-sm-4">
      	{{ education_form.institute | as_crispy_field }}
    	</div>
      <!-- <div class="d-none"><input type="text" id="institute" name="institute"></div> -->
      <div class="col-md-4 mb-3">
            <div>
                <label for="state">Institute</label>
                <select class="form-control" id="institute-select">
                  {% for i in institutes %} 
                    <option value="{{i.id}}">{{ i.institution_name }}</option>
                    {% endfor %}
                </select>
            </div>
      </div>
    	<div class="col-sm-4 mb-3"></div>
    	<div class="col-sm-3 mb-3">
      	{{ education_form.start_year | as_crispy_field }}
    	</div>
    	<div class="col-sm-3 mb-3">
      	{{ education_form.end_year | as_crispy_field }}
    	</div>
    	<div class="col-sm-2 mb-3">
      	{{ education_form.gpa | as_crispy_field }}
    	</div>
      <div class="col-12 mb-3">
        <div class="container" >
          <div class='element' id='div_0'>
            <span class='add'>Add Education</span>
          </div>
        </div>
      </div>
	</div>
	{% csrf_token %}

	<button type="submit" class="btn btn-primary mb-5" id="update_profile" {% if confirm %} style="display: none;" {% endif %}>Update Profile</button>
</form>
{% endblock %}
{% block js %}
<!-- <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> -->

<script  src="{% static '/external/Searchable-Multi-select-jQuery-Dropdown/jquery.dropdown.js' %}" ></script>

<script type="text/javascript">

function apply_for_job(spk_user_id,job_id,student_id){
    $.ajax({
      url: "/add_student_job_status",
      data: {
        'job_id' : job_id,
        'spk_user_id' : spk_user_id,
        'student_id' : student_id  //rec student
      },
      dataType: 'json',
      success:function(data){
        var messages = data.msg
        $('.toast').toast({'autohide':false});
        $('.toast').toast('show') ;
        $('.d-toast').show() ;
    }});
  }

$(document).ready(function() {
  // $("#form-student :input").prop("disabled", true);
    var degree_list = [];
    var institute_list = [];
    var start_year_list = [];
    var end_year_list = [];
    var current_index = 0;
    // $('.js-example-basic-multiple').select2();
    $('.demo').dropdown({});
    $( "#modify" ).click(function() {
    $("#"+this.id).hide();
    $("#update_profile").show();
    // $("#form-student :input").prop("disabled", false);

    });

    $( "#update_profile" ).click(function() {
      insti = $('#institute-select').val();
      $('#id_institute').val(parseInt(insti));
	 var res = $('.dropdown-selected').text();
	 var res1 = $('.dropdown-chose').text();
	 var x =[];
	 $('.dropdown-chose').each(function(index, obj)
	 {
	  x.push($(this).text());
	 });
	$('#skills_m').val(x);
	degree_id = $('#id_degree').val();
	document.getElementById("id_degree").setAttribute('value',degree_id);
	d=$('#id_degree option:selected').val();
	$('select[name="degree"]').val(d);
	$('#id_degree').val(degree_id);
	// institute_id = $('#id_institute').val();
	// document.getElementById("id_institute").setAttribute('value',institute_id);
	});

  // Add new element
 $(".add").click(function(){
  // Finding total number of elements added
  var total_element = $(".element").length;
  // last <div> with element class id
  var lastid = $(".element:last").attr("id");
  var split_id = lastid.split("_");
  var nextindex = Number(split_id[1]) + 1;

  var max = 5;
  // Check total number elements
  if(total_element < max ){
   // Adding new div container after last occurance of element class
   $(".element:last").after("<div class='element form-row' id='div_"+ nextindex +"'></div>");
 
   // Adding element to <div>
   $("#div_" + nextindex).append("" 
    
    + "<span id='remove_" 
    + nextindex 
    + "' class='remove'>X</span>"
    + "<div class='col'><select class='form-control degree' id='id_degree_"
    +nextindex +"' "+"name='degree_"+nextindex+"'"
    +" '> </select></div>"
    + "<div class='col'><select class='form-control institute' id='id_institute_"
    +nextindex +"' "+"name='institute_"+nextindex+"'"
    +" '> </select></div>"
    + "<div class='col'><select class='form-control start_year' id='id_start_year_"
    +nextindex +"' "+"name='start_year_"+nextindex+"'"
    +" '> </select></div>"
    + "<div class='col'><select class='form-control end_year' id='id_end_year_"
    +nextindex +"' "+"name='end_year_"+nextindex+"'"
    +" '> </select></div>"
    +"<div class='col'><input type='text' class='form-control gpa' id='id_gpa_"
    +nextindex +"' "+"name='gpa_"+nextindex+"'"
    +" '></div>"
    );

   current_index = nextindex;
 
  }
  if (total_element==1) {
    $.ajax({
      url: "/fetch_education_data",
      data: {
        
      },
      dataType: 'json',
      success:function(data){
        var degrees = data.degrees;
        degree_list = data.degrees;
        institute_list = data.institutes;
        for(i=2000;i<2022;i++){
          start_year_list.push(i);
          end_year_list.push(i+1);
        }
    }});
  } 
 });

$(document).on( 'click', '.degree', function () { 
var options = '';
  $.each(degree_list, function (i, item) {
    options += '<option value="' + item.id + '">' + item.name + '</option>';
});
    degree_vals = $(this).val();
    if (degree_vals==null) {
      $(this).append(options);
    }
    
 });
$(document).on( 'click', '.institute', function () { 
var options = '';
  $.each(institute_list, function (i, item) {
    options += '<option value="' + item.id + '">' + item.institution_name + '</option>';
});
    institute_vals = $(this).val();
    if (institute_vals==null) {
      $(this).append(options);
    }
    
 });

$(document).on( 'click', '.start_year', function () { 
var options = '';
  $.each(start_year_list, function (i, item) {
    options += '<option value="' + item + '">' + item + '</option>';
});
    institute_vals = $(this).val();
    if (institute_vals==null) {
      $(this).append(options);
    }
 });

$(document).on( 'click', '.end_year', function () { 
var options = '';
  $.each(end_year_list, function (i, item) {
    options += '<option value="' + item + '">' + item + '</option>';
});    
    institute_vals = $(this).val();
    if (institute_vals==null) {
      $(this).append(options);
    }
 });

 // Remove element
 $('.container').on('click','.remove',function(){ 
  var id = this.id;
  var split_id = id.split("_");
  var deleteindex = split_id[1];

  $("#div_" + deleteindex).remove();

 }); 

});
</script>

{% endblock %}
